<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aldasland | Ayasofya</title>
    <link rel="icon" type="image/x-icon" href="/resimler/Yeni klasör/avianex.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/3.3.ayasofya.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>

<body>
    <div id="progress">
        <span id="progress-value"><i class="fa-solid fa-chevron-up"></i></span>
    </div>
    <div class="body">
        <div class="container">
            <header class="nav">
                <div class="navbar">
                    <div class="navbar-logo"><a href="http://127.0.0.1:3000" class="logo-menu"><i
                                class="fa-brands fa-avianex fa-2xl" title="AldasLand"></i></a></div>
                    <div class="navbar-menu">
                        <ul class="navigation">
                            <li class="nav-text"><a href="http://127.0.0.1:3000" class="menu-item">Anasayfa</a></li>

                            <div class="dropdown">
                                <div class="select">
                                    <span class="selected">Ülkeler</span>
                                    <div class="caret"></div>
                                </div>
                                <ul class="drop">
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/avrupa"
                                            class="dropdown-text">Avrupa</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/asya"
                                            class="dropdown-text">Asya</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/afrika"
                                            class="dropdown-text">Afrika</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/amerika"
                                            class="dropdown-text">Amerika</a></li>

                                </ul>
                            </div>

                            <li class="nav-text"><a href="http://127.0.0.1:3000/continents"
                                    class="menu-item">Kıtalar</a></li>
                                    <li class="nav-text"><a href="http://127.0.0.1:3000/GeziTurSign"
                                        class="menu-item">Kayıt ol</a></li>


                        </ul>

                    </div>
                    <div class="navbar-login">
                        <a href="http://127.0.0.1:3000/GeziturLog" blank="_leave" class="login"><i
                                class="fa-solid fa-user-tie fa-2xl" title="Log-in"></i></a>

                    </div>
                </div>
                <img src="/adobe/header2.png" alt="">
            </header>
            <!--main kısmı-->


            <main class="main">



                <div class="main-container">

                    <div class="main-search">

                        <form action="https://www.google.com/search" method="get" class="search-form">
                            <div class="google-search">
                                <script async src="https://cse.google.com/cse.js?cx=51e502db8d6ef437e">
                                </script>
                                <div class="gcse-searchbox-only"></div>
                            </div>
                        </form>


                    </div>

                    <div class="main-menu">
                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">İstanbul - Ayasofya Cami</h1>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Ayasofya (anlamı: "Kutsal Bilgelik"), eski
                                adıyla Kutsal Bilgelik Kilisesi ve Ayasofya Müzesi veya günümüzdeki resmî adıyla
                                Ayasofya-i Kebîr Câmi-i Şerîfi (Kutsal Büyük Ayasofya Camii), İstanbul'da yer alan
                                bir cami ve eski bazilika, katedral ve müzedir. Bizans İmparatoru I. Justinianus
                                tarafından, 532-537 yılları arasında İstanbul'un tarihî yarımadasındaki eski şehir
                                merkezine inşa ettirilmiş bazilika planlı bir patrik katedrali olmuştur. 1453 yılında
                                İstanbul'un Osmanlılar tarafından fethedilmesinden sonra II. Mehmed tarafından camiye
                                dönüştürülmüştür. Mustafa Kemal Atatürk tarafından 1934 yılında yayımlanan Bakanlar
                                Kurulu Kararnamesi ile müzeye dönüştürülmüş, kazı ve tadilat çalışmaları başlatılmış ve
                                1935'ten 2020'ye kadar müze olarak hizmet vermiştir. 2020 yılında ise müze statüsü iptal
                                edilerek cami statüsü verilmiştir.</p>
                            <br>
                            <p>Ayasofya, mimari bakımdan merkezî planı birleştiren kubbeli bazilika tipinde bir yapı
                                olup, kubbe geçişi ve taşıyıcı sistem özellikleriyle mimarlık tarihinde önemli bir dönüm
                                noktası olarak ele alınır. Hristiyanlar için hem sembolik hem de eksen olma anlamının
                                yanında, turistik ve ruhsal bir çekim merkezidir.</p>
                            <br>
                            <p>Ayasofya adındaki "Aya" sözcüğü "kutsal" anlamına gelir. "Sofya" sözcüğü ise Grekçede
                                "bilgelik" anlamındaki sophos sözcüğünden gelir. Dolayısıyla "Aya Sofya" adı,
                                Nasıralı İsa'ya atfen "Kutsal Bilgelik" ya da "İlahî Bilgelik" anlamına gelmekte olup
                                Hristiyan ilahiyatında Tanrı'nın üç niteliğinden biri sayılır. Miletli İsidoros ve
                                Trallesli Antemius'un yönettiği Ayasofya'nın inşaatında yaklaşık 10.000
                                işçinin çalıştığı ve İmparator I. Jüstinyen'in bu iş için büyük bir servet
                                harcadığı belirtilir. Bu çok eski binanın bir özelliği, yapımında kullanılan bazı
                                sütun, kapı ve taşların binadan daha eski yapı ve tapınaklardan getirilmiş olmasıdır.
                            </p>
                            <br>
                            <p>
                                Bizans İmparatorluğu döneminde Ayasofya, büyük bir "kutsal emanetler" zenginliğine
                                sahipti. Bu emanetlerden biri de 15 metre yüksekliğindeki gümüş ikonostasis idi.
                                Konstantinopolis Patriği'nin kilisesi ve Doğu Ortodoks Kilisesi'nin 1000 yıl boyunca
                                merkezi olan Ayasofya, 1054 yılında Patrik I. Mihail'in Papa IX. Leo tarafından aforoz
                                edilmesine şahitlik etmiş olup, bu olay, genel olarak "Schisma"nın, yani Hristiyanlık
                                tarihindeki en önemli olaylardan biri olan Doğu ve Batı kiliselerinin ayrılmasının
                                başlangıcı sayılır.
                            </p>
                            <br>
                            <p>1453 yılında kilise, Osmanlı padişahı II. Mehmed tarafından camiye dönüştürüldükten sonra
                                mozaiklerinden insan figürleri içerenler tahrip edilmemiş (içermeyenlerse olduğu gibi
                                bırakılmıştır), yalnızca ince bir sıvayla kaplanmış ve yüzyıllarca sıva altında kalan
                                mozaikler, bu sayede doğal ve yapay tahribattan kurtulabilmiştir. Cami, müzeye
                                dönüştürülürken sıvaların bir kısmı çıkarılmış ve mozaikler yine gün ışığına
                                çıkarılmıştır. Günümüzde görülen Ayasofya binası, aslında aynı yere üçüncü kez inşa
                                edilen kilise olduğundan "Üçüncü Ayasofya" olarak da bilinir. İlk iki kilise isyanlar
                                sırasında yıkılmıştır. Döneminin en geniş kubbesi olan Ayasofya'nın merkezî kubbesi,
                                Bizans döneminde bir kez (7 Mayıs 558 tarihinde) çökmüş, Osmanlı başmimarı Mimar
                                Sinan'ın binaya payandaları eklemesinden itibaren de hiç çökmemiştir.</p>

                        </div>

                        
                        
                        
                       

                        <div class="main-menu-header-div">
                            <h1 class="galeri-header">galeri</h1>
                        </div>
                        <div class="galeri">
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/ayasofya1.jpg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/ayasofya1.jpg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/ayasofya2.jpg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/ayasofya2.jpg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/ayasofya3.jpg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/ayasofya3.jpg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/ayasofya4.jpg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/ayasofya4.jpg" alt=""></a></div>
                        </div>


                    </div>
                    <div class="main-ekstra">
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/ayasofyakonum.png"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/ayasofyakonum.png" alt=""></a></div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Ayasofya istanbul'da ki konumu konumu</p>
                        </div>
                        <hr>
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/ayasofyadış.jpg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/ayasofyadış.jpg" alt=""></a></div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Ayasofya dış görünümü</p>
                        </div>
                        <hr>
                        <div class="main-ekstra-header">
                            <p>Genel bilgiler</p>
                        </div>
                        <table class="main-ekstra-tables">
                            <tr>
                                <td class="main-ekstra-tables-td-left">tür</td>
                                <td class="main-ekstra-tables-td-right">Sünni Cami (günümüz)</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Mimari tür</td>
                                <td class="main-ekstra-tables-td-right">Osmanlı ve Bizans</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Konum</td>
                                <td class="main-ekstra-tables-td-right">İstanbul, Türkiye</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Koordinatlar</td>
                                <td class="main-ekstra-tables-td-right">41°00'30"K 28°58'48"D</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">başlama</td>
                                <td class="main-ekstra-tables-td-right">532 (1490 yıl önce)</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Tamamlanma</td>
                                <td class="main-ekstra-tables-td-right">537 (1485 yıl önce)</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Yükseklik</td>
                                <td class="main-ekstra-tables-td-right">55,60 m (kubbe yüksekliği)</td>
                            </tr>
                            

                        </table>

                    </div>

                </div>


            </main>




            <section class="section-container">
                <p class="section-paragraf"><a href="#" class="section-links">Küba</a></p>
                <p class="section-paragraf"><a href="#" class="section-links">1234</a></p>
                <p class="section-paragraf"><a href="#" class="section-links">centralpark</a></p>
            </section>




            <!--footer-->
            <footer>
                <div class="footer-container">
                    <div class="social-icon">
                        <a title="Facebook" href="https://www.facebook.com/emin.aldas.37/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a title="Instagram" href="https://www.instagram.com/emin.alds/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a title="Twitter" href="https://twitter.com/AldsEmin" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a title="Youtube" href="https://www.youtube.com/channel/UCk1xreJb2dm-wes0-APkxKA"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                        <a title="Github" href="https://github.com/eminaldas" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a title="Discord" href="discordapp.com/users/Muhammed Emin Aldaş#3369"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-discord"></i></a>
                    </div>
                    <div class="footer-navbar">
                        <ul class="footer-navbar-ul">
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000" class="footer-navbar-a"
                                    title="Home">Home</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/aboutUs"
                                    class="footer-navbar-a">About us</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/others"
                                    class="footer-navbar-a">Others</a></li>
                        </ul>
                    </div>
                    <div class="fotter-text">
                        <p>Copyright &copy;2023; Designed By <span class="footer-desinger">Muhammed Emin Aldas</span>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/slider.js"></script>
</body>

</html>