<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aldasland | Balıklıgöl</title>
    <link rel="icon" type="image/x-icon" href="/resimler/Yeni klasör/avianex.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/3.5balık.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>

<body>
    <div id="progress">
        <span id="progress-value"><i class="fa-solid fa-chevron-up"></i></span>
    </div>
    <div class="body">
        <div class="container">
            <header class="nav">
                <div class="navbar">
                    <div class="navbar-logo"><a href="http://127.0.0.1:3000" class="logo-menu"><i
                                class="fa-brands fa-avianex fa-2xl" title="AldasLand"></i></a></div>
                    <div class="navbar-menu">
                        <ul class="navigation">
                            <li class="nav-text"><a href="http://127.0.0.1:3000" class="menu-item">Anasayfa</a></li>

                            <div class="dropdown">
                                <div class="select">
                                    <span class="selected">Ülkeler</span>
                                    <div class="caret"></div>
                                </div>
                                <ul class="drop">
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/avrupa"
                                            class="dropdown-text">Avrupa</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/asya"
                                            class="dropdown-text">Asya</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/afrika"
                                            class="dropdown-text">Afrika</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/amerika"
                                            class="dropdown-text">Amerika</a></li>

                                </ul>
                            </div>

                            <li class="nav-text"><a href="http://127.0.0.1:3000/continents"
                                    class="menu-item">Kıtalar</a></li>
                                    <li class="nav-text"><a href="http://127.0.0.1:3000/GeziTurSign"
                                        class="menu-item">Kayıt ol</a></li>


                        </ul>

                    </div>
                    <div class="navbar-login">
                        <a href="http://127.0.0.1:3000/GeziturLog" blank="_leave" class="login"><i
                                class="fa-solid fa-user-tie fa-2xl" title="Log-in"></i></a>

                    </div>
                </div>
                <img src="/adobe/header7.png" alt="">
            </header>
            <!--main kısmı-->


            <main class="main">



                <div class="main-container">

                    <div class="main-search">

                        <form action="https://www.google.com/search" method="get" class="search-form">
                            <div class="google-search">
                                <script async src="https://cse.google.com/cse.js?cx=51e502db8d6ef437e">
                                </script>
                                <div class="gcse-searchbox-only"></div>
                            </div>
                        </form>


                    </div>

                    <div class="main-menu">
                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">Şanlıurfa - Balıklıgöl</h1>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Balıklıgöl (Ayn-i Zeliha ve Halil-Ür Rahman Gölleri), Şanlıurfa şehir merkezinin
                                güneybatısında yer alan ve İbrahim peygamberin ateşe atıldığına inanılan bu iki göl,
                                mitolojik olarak İslam alemi için kutsal sayılan balıkları (sazangiller) ve
                                çevrelerindeki tarihi eserler ile Şanlıurfa'nın en çok ziyaret edilen tarihî
                                mekanlarındandır.</p>
                            <br>
                            <p>Tarihsel ve bilimsel verilere göre Balıklıgöl havuzları, yarı kadın yarı balık olan
                                tanrıça Atargatis için yapılmış birer antik pagan (putperest) tapınaklarıdır. MÖ
                                1000-300 yılları arasında net olmayan bir tarihte yapıldığı tahmin edilmektedir.
                                Günümüzde İsrail, Lübnan, Suriye'de de tanrıça Atargatis'e adanan içindeki balıklara
                                dokunmanın ve yemenin yasak olduğu balıklı havuzlar vardır.İslam mitolojisinin dışında
                                Balıklıgöl platosunda ayrıca Yahudi ve Hristiyan mitolojileri de mevcuttur.</p>
                            <br>
                            <p>1970'lere kadar göllerde yüzülüp yüzme yarışmaları düzenlenirken, 1970'lerden sonra göle
                                kutsal aidiyet verilip göllerde yüzmek ve balıklarını yemek yasaklanmıştır. Günümüzde
                                birçok İslam araştırmacısı Balıklıgöl'e ait İslam mitolojisinin hurafe ve uyduma olup
                                havuzların antik pagan tapınaklarına ait olduğunu kesin bir dille kabul etmiştir.
                            </p>
                            <br>
                            <p>
                                Halk arasında içindeki balıkların kutsal olup balıkları yiyenlerin hastalandığı
                                söylenir. Gölde bıyıklı sazan türü bulunmaktadır. Bu türün havyarı zehirli olduğundan
                                yenmesi insan sağlığı açısından sakıncalıdır.
                            </p>
                            <br>
                            <p>Bugünkü görünümünü Mimar Behruz Çinici danışmanlığında Mimar Merih Karaaslan'ın
                                tasarladığı 'Dergâh ve Balıklıgöl Çevre Düzenleme Projesi' restorasyonu ile elde
                                etmiştir. Proje 1992'de başlayıp büyük kısmı 2000 yılında tamamlandı. Günümüzde de aynı
                                proje adı altında kısmi restorasyonlar geçirmektedir.</p>

                        </div>






                        <div class="main-menu-header-div">
                            <h1 class="galeri-header">galeri</h1>
                        </div>
                        <div class="galeri">
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/şanlıurfa/Aynzeliha_Gölü.jpg"><img
                                        src="/resimler/avrupa/türkiye/şanlıurfa/Aynzeliha_Gölü.jpg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/şanlıurfa/wallpaperflare.com_wallpaper (1).jpg"><img
                                        src="/resimler/avrupa/türkiye/şanlıurfa/wallpaperflare.com_wallpaper (1).jpg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/şanlıurfa/a103ef98-1ccd-4539-96de-7dad0a63e14d.jpeg"><img
                                        src="/resimler/avrupa/türkiye/şanlıurfa/a103ef98-1ccd-4539-96de-7dad0a63e14d.jpeg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/şanlıurfa/Balıklı göl.jpeg"><img
                                        src="/resimler/avrupa/türkiye/şanlıurfa/Balıklı göl.jpeg" alt=""></a></div>
                        </div>


                    </div>
                    <div class="main-ekstra">
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/şanlıurfa/Aynzeliha_Gölü.jpg"><img
                                        src="/resimler/avrupa/türkiye/şanlıurfa/Aynzeliha_Gölü.jpg" alt=""></a></div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Ayn-i zeliha Gölü</p>
                        </div>
                        <hr>
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/şanlıurfa/Balıklıgöl_Urfa2.jpg"><img
                                        src="/resimler/avrupa/türkiye/şanlıurfa/Balıklıgöl_Urfa2.jpg" alt=""></a></div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Halil-Ür Rahman gölü</p>
                        </div>
                        <hr>
                        
                       

                    </div>

                </div>


            </main>




            <section class="section-container">
                <p class="section-paragraf"><a href="#" class="section-links">Küba</a></p>
                <p class="section-paragraf"><a href="#" class="section-links">1234</a></p>
                <p class="section-paragraf"><a href="http://127.0.0.1:3000/continents/newyork/centralpark" class="section-links">centralpark</a></p>
            </section>




            <!--footer-->
            <footer>
                <div class="footer-container">
                    <div class="social-icon">
                        <a title="Facebook" href="https://www.facebook.com/emin.aldas.37/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a title="Instagram" href="https://www.instagram.com/emin.alds/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a title="Twitter" href="https://twitter.com/AldsEmin" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a title="Youtube" href="https://www.youtube.com/channel/UCk1xreJb2dm-wes0-APkxKA"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                        <a title="Github" href="https://github.com/eminaldas" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a title="Discord" href="discordapp.com/users/Muhammed Emin Aldaş#3369"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-discord"></i></a>
                    </div>
                    <div class="footer-navbar">
                        <ul class="footer-navbar-ul">
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000" class="footer-navbar-a"
                                    title="Home">Home</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/aboutUs"
                                    class="footer-navbar-a">About us</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/others"
                                    class="footer-navbar-a">Others</a></li>
                        </ul>
                    </div>
                    <div class="fotter-text">
                        <p>Copyright &copy;2023; Designed By <span class="footer-desinger">Muhammed Emin Aldas</span>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/slider.js"></script>
</body>

</html>