<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aldasland | Eyfel Kulesi</title>
    <link rel="icon" type="image/x-icon" href="/resimler/Yeni klasör/avianex.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/4.1.eyfel.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>

<body>
    <div id="progress">
        <span id="progress-value"><i class="fa-solid fa-chevron-up"></i></span>
    </div>
    <div class="body">
        <div class="container">
            <header class="nav">
                <div class="navbar">
                    <div class="navbar-logo"><a href="http://127.0.0.1:3000" class="logo-menu"><i
                                class="fa-brands fa-avianex fa-2xl" title="AldasLand"></i></a></div>
                    <div class="navbar-menu">
                        <ul class="navigation">
                            <li class="nav-text"><a href="http://127.0.0.1:3000" class="menu-item">Anasayfa</a></li>

                            <div class="dropdown">
                                <div class="select">
                                    <span class="selected">Ülkeler</span>
                                    <div class="caret"></div>
                                </div>
                                <ul class="drop">
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/avrupa"
                                            class="dropdown-text">Avrupa</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/asya"
                                            class="dropdown-text">Asya</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/afrika"
                                            class="dropdown-text">Afrika</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/amerika"
                                            class="dropdown-text">Amerika</a></li>

                                </ul>
                            </div>

                            <li class="nav-text"><a href="http://127.0.0.1:3000/continents"
                                    class="menu-item">Kıtalar</a></li>
                                    <li class="nav-text"><a href="http://127.0.0.1:3000/GeziTurSign"
                                        class="menu-item">Kayıt ol</a></li>


                        </ul>

                    </div>
                    <div class="navbar-login">
                        <a href="http://127.0.0.1:3000/GeziturLog" blank="_leave" class="login"><i
                                class="fa-solid fa-user-tie fa-2xl" title="Log-in"></i></a>

                    </div>
                </div>
                <img src="/adobe/header8.png" alt="">
            </header>
            <!--main kısmı-->


            <main class="main">



                <div class="main-container">

                    <div class="main-search">

                        <form action="https://www.google.com/search" method="get" class="search-form">
                            <div class="google-search">
                                <script async src="https://cse.google.com/cse.js?cx=51e502db8d6ef437e">
                                </script>
                                <div class="gcse-searchbox-only"></div>
                            </div>
                        </form>


                    </div>

                    <div class="main-menu">
                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">Paris - Eyfel Kulesi</h1>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Eyfel Kulesi , Paris'teki demir kule. Kule,
                                aynı zamanda tüm dünyada Fransa'nın sembolü halini almıştır. İsmini, inşa ettiren
                                Fransız mimar Gustave Eiffel'den alır.[1] En büyük turizm cazibelerinden biri olan Eyfel
                                Kulesi, yılda 6 milyon turist çeker. 2002 yılında toplam ziyaretçi sayısı 200 milyona
                                ulaşmıştır.</p>
                            <br>
                            <p>Eyfel Kulesi 1887 ile 1889 yılları arasında Gustave Eiffel'in firması tarafından, Fransız
                                Devrimi'nin 100. yıl kutlamaları çerçevesinde düzenlenen Expo 1889 Paris fuarının giriş
                                kapısı olarak inşa edilmiştir. Aslında kulenin mimarı Gustave Eiffel değil, İsviçreli
                                Maurice Koechlin 'in siparişi üzerine tasarlayan Stephen Sauvestre'dir. Meslektaşı Emile
                                Nouguier ile beraber ilk tasarımları yapmıştır. Kulenin, 7.739.401 Frank 31 Sent tutan
                                inşaat masrafları, Gustave Eiffel'in tahminlerinin 1 milyon frank üstündedir. 1889
                                yılındaki açılış tarihinden önceki 5 ayda 1,9 milyon kişi ziyaret edince, yıl sonuna
                                kadar toplam masrafın 3/4'ü çıkartılmıştır</p>
                            <br>
                            <p>3.000 işçi 26 ay boyunca 18.038 adet demir parçayı 2,5 milyon perçinle bir araya getirdi.
                                Hiç ölüm vakası yaşanmamış olması, o günün şartlarında şaşırtıcı bir durumdur.
                            </p>
                            <br>
                            <p>
                                Ancak kule, onu bir utanç lekesi olarak gören Paris halkının tepkisini de çekmiştir.
                                Bazı sanatçılar devasa bir sokak lambasına benzetirken, bir fabrika bacası gibi Paris'in
                                görsel itibarını zedeleyeceğini ileri sürmüşlerdir. Böylelikle devrin sanatçı ve
                                edebiyatçı çevresinde bir kampanya başlatılmış, bu kampanya süresince ünlü sanatçıların
                                imzaladığı bildiriler dağıtılmıştır. Bugün ise Eyfel Kulesi, Dünya'nın en güzel mimari
                                yapılarından biri olarak kabul edilir. Parisliler onu Demir Bayan olarak adlandırırlar.
                                İlk başlarda Eiffel, Kule'ye sadece 20 yıl için müsaade almıştı. Dolayısıyla, 1909
                                yılında kulenin sökülmesi gerekiyordu. Ancak kule, iletişim için çok uygun yüksekliğe
                                ulaştığından ve yeni yüzyılda Atlantik ötesi haberleşmeye imkân tanıdığından, kalmasına
                                izin verildi. Bu bağlamda Eyfel Kulesi radyo yayıncılığının gelişmesinde önemli rol
                                oynamıştır. Eyfel Kulesi, radyo dalgalarını çok uzun mesafelere yayabilmesi avantajıyla,
                                l. Dünya Savaşı’nda sinyal kesici ve bozucu olarak da kullanılmıştır. Eyfel Kulesi,
                                günümüzde Paris'in en çok ziyaret edilen noktası olsa da, en tepedeki 27 metrelik radyo
                                vericisiyle halen bir verici istasyonu olarak kullanılmaktadır.
                            </p>
                            <br>
                           

                        </div>





                        <div class="main-menu-header-div">
                            <h1 class="galeri-header">galeri</h1>
                        </div>
                        <div class="galeri">
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/France/paris/pexels-tove-liu-3922718.jpg"><img
                                        src="/resimler/avrupa/France/paris/pexels-tove-liu-3922718.jpg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/France/paris/pexels-mehmet-turgut-kirkgoz-5312109 (1).jpg"><img
                                        src="/resimler/avrupa/France/paris/pexels-mehmet-turgut-kirkgoz-5312109 (1).jpg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/France/paris/pexels-jarod-barton-4859658.jpg"><img
                                        src="/resimler/avrupa/France/paris/pexels-jarod-barton-4859658.jpg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/France/paris/pexels-ramaz-bluashvili-6847092.jpg"><img
                                        src="/resimler/avrupa/France/paris/pexels-ramaz-bluashvili-6847092.jpg" alt=""></a></div>
                        </div>


                    </div>
                    <div class="main-ekstra">
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/France/paris/eifelkonum.png"><img
                                        src="/resimler/avrupa/France/paris/eifelkonum.png" alt=""></a>
                            </div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Eyfel'in konumu</p>
                        </div>
                        <hr>
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/France/paris/Tour_Eiffel_Wikimedia_Commons.jpg"><img
                                        src="/resimler/avrupa/France/paris/Tour_Eiffel_Wikimedia_Commons.jpg" alt=""></a></div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Eyfel'in görünümü</p>
                        </div>
                        <hr>



                    </div>

                </div>


            </main>




            <section class="section-container">
                <p class="section-paragraf"><a href="#" class="section-links">Küba</a></p>
                <p class="section-paragraf"><a href="#" class="section-links">1234</a></p>
                <p class="section-paragraf"><a href="http://127.0.0.1:3000/continents/newyork/centralpark"
                        class="section-links">centralpark</a></p>
            </section>




            <!--footer-->
            <footer>
                <div class="footer-container">
                    <div class="social-icon">
                        <a title="Facebook" href="https://www.facebook.com/emin.aldas.37/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a title="Instagram" href="https://www.instagram.com/emin.alds/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a title="Twitter" href="https://twitter.com/AldsEmin" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a title="Youtube" href="https://www.youtube.com/channel/UCk1xreJb2dm-wes0-APkxKA"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                        <a title="Github" href="https://github.com/eminaldas" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a title="Discord" href="discordapp.com/users/Muhammed Emin Aldaş#3369"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-discord"></i></a>
                    </div>
                    <div class="footer-navbar">
                        <ul class="footer-navbar-ul">
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000" class="footer-navbar-a"
                                    title="Home">Home</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/aboutUs"
                                    class="footer-navbar-a">About us</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/others"
                                    class="footer-navbar-a">Others</a></li>
                        </ul>
                    </div>
                    <div class="fotter-text">
                        <p>Copyright &copy;2023; Designed By <span class="footer-desinger">Muhammed Emin Aldas</span>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/slider.js"></script>
</body>

</html>