<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aldasland | Galata Kulesi</title>
    <link rel="icon" type="image/x-icon" href="/resimler/Yeni klasör/avianex.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/3.1.yerebatan.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>

<body>
    <div id="progress">
        <span id="progress-value"><i class="fa-solid fa-chevron-up"></i></span>
    </div>
    <div class="body">
        <div class="container">
            <header class="nav">
                <div class="navbar">
                    <div class="navbar-logo"><a href="http://127.0.0.1:3000" class="logo-menu"><i
                                class="fa-brands fa-avianex fa-2xl" title="AldasLand"></i></a></div>
                    <div class="navbar-menu">
                        <ul class="navigation">
                            <li class="nav-text"><a href="http://127.0.0.1:3000" class="menu-item">Anasayfa</a></li>

                            <div class="dropdown">
                                <div class="select">
                                    <span class="selected">Ülkeler</span>
                                    <div class="caret"></div>
                                </div>
                                <ul class="drop">
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/avrupa"
                                            class="dropdown-text">Avrupa</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/asya"
                                            class="dropdown-text">Asya</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/afrika"
                                            class="dropdown-text">Afrika</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/amerika"
                                            class="dropdown-text">Amerika</a></li>

                                </ul>
                            </div>

                            <li class="nav-text"><a href="http://127.0.0.1:3000/continents"
                                    class="menu-item">Kıtalar</a></li>
                                    <li class="nav-text"><a href="http://127.0.0.1:3000/GeziTurSign"
                                        class="menu-item">Kayıt ol</a></li>


                        </ul>

                    </div>
                    <div class="navbar-login">
                        <a href="http://127.0.0.1:3000/GeziturLog" blank="_leave" class="login"><i
                                class="fa-solid fa-user-tie fa-2xl" title="Log-in"></i></a>

                    </div>
                </div>
                <img src="/adobe/header2.png" alt="">
            </header>
            <!--main kısmı-->


            <main class="main">



                <div class="main-container">

                    <div class="main-search">

                        <form action="https://www.google.com/search" method="get" class="search-form">
                            <div class="google-search">
                                <script async src="https://cse.google.com/cse.js?cx=51e502db8d6ef437e">
                                </script>
                                <div class="gcse-searchbox-only"></div>
                            </div>
                        </form>


                    </div>

                    <div class="main-menu">
                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">İstanbul - Galata kulesi</h1>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Galata Kulesi ya da müze olarak kullanılmaya başlaması sonrasındaki adıyla Galata Kulesi
                                Müzesi, İstanbul'un Beyoğlu ilçesinde bulunan bir kuledir. Adını, bulunduğu Galata
                                semtinden alır. Galata Surları dahilinde bir gözetleme kulesi olarak inşa edilen kule,
                                farklı dönemlerde farklı amaçlarla kullanılmasının ardından 2020'den itibaren, bir sergi
                                mekânı ve müze olarak hizmet verir. Hem Beyoğlu'nun hem de İstanbul'un sembol
                                yapılarındandır.</p>
                            <br>
                            <p>Bizans İmparatorluğu ile ittifak hâlinde olan Cenevizliler 1267'de, Haliç'in kuzeyinde
                                bulunan Galata'da "Pera" adlı bir koloni kurmuş, bu koloninin hâkimiyet alanını da zaman
                                içinde Bizans tarafından verilen izinlerle genişletmişti. Tepesindeki haçtan ötürü o
                                dönem "Kutsal Haç Kulesi" (Turris Sancte Crucis) olarak adlandırılan kule, bu izinlere
                                aykırı bir şekilde kuzeydoğu yönündeki tepeye doğru hâkimiyet alanı arttırılarak
                                1335-1349 yılları arasında bölgede yapılan tahkimatın bir parçası olarak inşa edildi.
                                İki devlet arasında o yıl patlak veren savaş, ertesi yıl imzalanan antlaşmayla sona
                                ererken kulenin bulunduğu tepe Ceneviz kontrolüne bırakıldı. Konstantinopolis'in 29
                                Mayıs 1453'te Osmanlı İmparatorluğu tarafından alınması sonrasında Pera'daki
                                Cenevizliler, herhangi bir direniş göstermeden koloniyi Osmanlı'ya devretti. Kulenin de
                                dâhil olduğu Galata'daki tahkimatta birtakım tahribatlar gerçekleştirilse de, Osmanlı
                                Padişahı II. Mehmed'in fermanıyla kuledeki tahribatlar durduruldu ve tahrip edilen
                                kısımlar yeniden inşa edildi. 1509'daki depremde hasar gören kule, 1510 itibarıyla
                                onarıldı. 16. ve 17. yüzyıllarda, savaş esirlerini tutma yeri ve levazım ambarı, 18.
                                yüzyıl itibarıyla Mehterhâne Ocağı ile yangın gözleyiciler tarafından bir yangın kulesi
                                olarak kullanıldı.</p>
                            <br>
                            <p>1794'teki yangın sonrasında yapılan onarım çalışmalarında kulenin tasarımı
                                değiştirilirken üst kısım kahvehaneye dönüştürüldü. 1831'deki yangın sonrasında tasarımı
                                bir kez daha değiştirildi. 1875'teki bir fırtınada çatısının devrilmesinin ardından en
                                üst katın üzerine kâgir iki ahşap kat çıkılarak bu kısım, şehirde çıkan yangınları
                                gözleme ve haber verme amacıyla kullanılmaya başlandı. 1965-1967 yılları arasındaki
                                restorasyon çalışmasıyla kule, katları farklı amaçlara hizmet eden turistik bir yapı
                                olarak düzenlenirken kulenin çatısı da 1832-1876 yılları arasındaki tasarıma benzer
                                şekilde yenilendi. Bu dönemde, Ünal Kardeşler ile sonrasındaki dönemde vârislerine ait
                                şirket tarafından İstanbul Belediyesinden kiralanarak işletilmeye başlandı. 1999-2000
                                yıllarında dış cephesinde bir restorasyon yapıldı. 2013'te, İstanbul Büyükşehir
                                Belediyesine bağlı BELTUR işletmeyi devraldı. Bu dönemde kulenin en üst iki katında
                                birer kafe ile restoran yer almaktaydı. Aynı yıl, UNESCO tarafından Dünya Mirası Geçici
                                Listesi'ne dâhil edildi. 2019'da mülkiyeti ve işletmesi Vakıflar Genel Müdürlüğüne
                                geçti. 2020'de yapılan çalışmalar sonrasında kule, müze ve sergi mekânı olarak
                                düzenlendi.</p>
                            <br>
                            <p>Çatısının ucuna kadar olan yüksekliği 62,59 m olan Romanesk tarzdaki kâgir kulenin
                                silindirik gövdesi taştandır. Birer bodrum, zemin ve asma kat dâhil olmak üzere 11 katı
                                bulunur. Zemin katla altıncı kat arasında asansör yer alırken, zemin kattan dördüncü
                                kata kadar taş merdivenler, altıncı kattan sekizinci kata kadar ise çelik konstrüksiyon
                                merdivenler yer alır. Tepesini kaplayan koni şeklindeki çatısı ise betonarmedir.
                                Günümüzde kulenin zemin katı, bilet kontrol ve güvenlik noktası olarak hizmet verirken
                                altıncı kata kadar ulaşan asansörün girişi de burada yer alır. Birinci kat müze mağazası
                                iken sonraki üç kat sırasıyla Hezârfen Ahmed Çelebi'nin Galata Kulesi'nden süzülüşünün
                                bir animasyonunun gösterildiği bir ekranla birlikte simülasyon alanı ile kulenin
                                Takiyüddin tarafından kullanıldığı dönemini konu alan eserlerin; Kurtuluş Savaşı'na ait
                                fotoğrafların; Galata Kulesi ve Surlarına ait bilgi ve eserlerin; Galata Kulesi ve
                                İstanbul ile ilgili eserlerin yer aldığı kalıcı müze ve sergi alanlarıdır. Bir geçiş
                                alanı niteliğindeki altıncı katın sonrasındaki geçici sergi alanı olan yedinci katta,
                                İstanbul'un bir bölümünü gösteren bir maket ile pencere önlerine konumlanan seyir
                                dürbünleri yer alırken sekizinci kat, bir seyir terası olarak düzenlenmiştir. Kulenin
                                dış cephesi ile kuleyi çevreleyen alan ise bazı özel ve belirli günlerde farkındalık
                                yaratma, anma ya da kutlama amacıyla kullanılır.</p>
                        </div>
                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">Konumu</h1>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Galata Kulesi, İstanbul'un Beyoğlu ilçesinin Bereketzade Mahallesi'ndeki Büyük Hendek
                                Caddesi üzerinde yer alan 2 numaralı yapıdır.Kendisine ismini veren Galata
                                semtinde, 35 m rakımlı bir tepenin üzerinde konumlanır.</p>
                        </div>
                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">Mimari özellikleri</h1>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Romanesk tarzdaki silindirik kâgir kulenin, zeminden çatısının ucuna kadar olan
                                yüksekliği 62,59 m'dir. Kayalık ve killi şistli bir zemin üzerinde yer alan yapının
                                temeli masif taşlıdır. Zeminden yüksekte olan güney eksenindeki giriş kapısına, iki
                                yanında yer alan mermer basamaklı merdivenlerle ulaşılır.Kulenin mermerden yapılan
                                Ampir üsluplu söveli giriş kapısının üzerinde, 1831-1832 yıllarında gerçekleştirilen
                                onarım ve restorasyon çalışmalarını konu alan, üzerine Şair Pertev'e ait bir manzumenin
                                işlendiği kitâbe bulunur. Nuri Dede tarafından mermer üzerine kabartma
                                tekniğiyle işlenen kitâbededeki celî talik üslubuyla yazılan metin, 4 paftaya ayrılmış
                                16 dizenin 4 satır hâlinde dendanlı kartuşlardan meydana gelir. Metin üzerindeki üç
                                elips kartuşta sırasıyla "Ya Hafiz", "Maşallah" ve "Ya Rafi" yazar. Kitâbede daha
                                önceleri yer alan II. Mahmud'un tuğrası ise cumhuriyetin ilanı sonrasında
                                kazınmıştır. Kulenin güneye bakan cephesinin dış tarafının zemin katı hizasındaki
                                kısmında yer alan, İstanbul Fethi Derneğinin girişimi sonrasında İstanbul'un Fethi'nin
                                500. yıldönümüne denk gelen 1953 yılında asılan ve Emin Barın tarafından hazırlanan
                                levhada, büyük harflerle şu metin yazılıdır</p>
                        </div>
                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">Popüler kültürdeki yeri</h1>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Başta Türk edebiyatı olmak üzere bazı eserlerde, kuleye yapılan birtakım atıflar ile
                                kuleden etkilenilen anlatımlar söz konusudur. "[Ey sevgilim!] Aşıkların sana [sadece]
                                bayrak göstermektedirler, [onların] Rezmî gibi serdengeçti askeri yazıldığını sanma"
                                anlamına gelen aşağıdaki beyitinde Rezmî, kulenin yangınları haber verme işlevine atıfta
                                bulunarak, sevgilinin aşkı ile yanma motifinden yola çıkarak diğer aşıkların sevgiliye
                                yalnızca "yanıyoruz" anlamına gelecek şekilde bayrak sallasalar da kendisinin gerçek bir
                                aşık sıfatıyla serdengeçti askeri olarak yazıldığını anlatır.</p>
                        </div>
                        <div class="main-menu-header-div">
                            <h1 class="galeri-header">galeri</h1>
                        </div>
                        <div class="galeri">
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/galata.jpg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/galata.jpg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/galata1.jpeg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/galata1.jpeg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/galata2.jpg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/galata2.jpg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/galata3.jpg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/galata3.jpg" alt=""></a></div>
                        </div>


                    </div>
                    <div class="main-ekstra">
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/galatakonum.png"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/galatakonum.png" alt=""></a></div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Galata istanbul'da ki konumu konumu</p>
                        </div>
                        <hr>
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/galatadış.jpg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/galatadış.jpg" alt=""></a></div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Galata dış görünümü</p>
                        </div>
                        <hr>
                        <div class="main-ekstra-header">
                            <p>Genel bilgiler</p>
                        </div>
                        <table class="main-ekstra-tables">
                            <tr>
                                <td class="main-ekstra-tables-td-left">tür</td>
                                <td class="main-ekstra-tables-td-right">Gözetleme kulesi (inşa edildiğinde)</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Mimari tarz</td>
                                <td class="main-ekstra-tables-td-right">Romanesk</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Konum</td>
                                <td class="main-ekstra-tables-td-right">İstanbul, Türkiye</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Koordinatlar</td>
                                <td class="main-ekstra-tables-td-right">41°01'32"K 28°58'27"D</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">tamamlanma</td>
                                <td class="main-ekstra-tables-td-right">1348 (674 yıl önce)</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Yükseklik</td>
                                <td class="main-ekstra-tables-td-right">62,59 m</td>
                            </tr>
                           
                            <tr>
                                <td class="main-ekstra-tables-td-left">Zemin Alanı</td>
                                <td class="main-ekstra-tables-td-right">208 m2</td>
                            </tr>
                        </table>

                    </div>

                </div>


            </main>




            <section class="section-container">
                <p class="section-paragraf"><a href="#" class="section-links">Küba</a></p>
                <p class="section-paragraf"><a href="#" class="section-links">1234</a></p>
                <p class="section-paragraf"><a href="#" class="section-links">centralpark</a></p>
            </section>




            <!--footer-->
            <footer>
                <div class="footer-container">
                    <div class="social-icon">
                        <a title="Facebook" href="https://www.facebook.com/emin.aldas.37/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a title="Instagram" href="https://www.instagram.com/emin.alds/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a title="Twitter" href="https://twitter.com/AldsEmin" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a title="Youtube" href="https://www.youtube.com/channel/UCk1xreJb2dm-wes0-APkxKA"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                        <a title="Github" href="https://github.com/eminaldas" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a title="Discord" href="discordapp.com/users/Muhammed Emin Aldaş#3369"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-discord"></i></a>
                    </div>
                    <div class="footer-navbar">
                        <ul class="footer-navbar-ul">
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000" class="footer-navbar-a"
                                    title="Home">Home</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/aboutUs"
                                    class="footer-navbar-a">About us</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/others"
                                    class="footer-navbar-a">Others</a></li>
                        </ul>
                    </div>
                    <div class="fotter-text">
                        <p>Copyright &copy;2023; Designed By <span class="footer-desinger">Muhammed Emin Aldas</span>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/slider.js"></script>
</body>

</html>