<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="GeziTurAnasayfa/resimler/Yeni klasör/avianex.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/GeziturSign-up.css">

    <title>Aldasland | Sign-up</title>


</head>

<body>
    <div id="progress">
        <span id="progress-value"><i class="fa-solid fa-chevron-up"></i></span>
    </div>
    <div class="divmain">
        <header class="nav">
            <div class="navbar">
                <div class="navbar-logo"><a href="http://127.0.0.1:3000" class="logo-menu"><i
                            class="fa-brands fa-avianex fa-2xl" title="AldasLand"></i></a></div>
                <div class="navbar-menu">
                    <ul class="navigation">
                        <li class="nav-text"><a href="http://127.0.0.1:3000" class="menu-item">Anasayfa</a></li>

                        <div class="dropdown">
                            <div class="select">
                                <span class="selected">Ülkeler</span>
                                <div class="caret"></div>
                            </div>
                            <ul class="drop">
                                <li class="drop-li"><a href="http://127.0.0.1:3000/continents/avrupa"
                                        class="dropdown-text">Avrupa</a></li>
                                <li class="drop-li"><a href="http://127.0.0.1:3000/continents/asya"
                                        class="dropdown-text">Asya</a></li>
                                <li class="drop-li"><a href="http://127.0.0.1:3000/continents/afrika"
                                        class="dropdown-text">Afrika</a></li>
                                <li class="drop-li"><a href="http://127.0.0.1:3000/continents/amerika"
                                        class="dropdown-text">Amerika</a></li>

                            </ul>
                        </div>

                        <li class="nav-text"><a href="http://127.0.0.1:3000/continents" class="menu-item">Kıtalar</a>
                        </li>
                        <li class="nav-text"><a href="http://127.0.0.1:3000/GeziTurSign" class="menu-item">Kayıt ol</a>
                        </li>


                    </ul>

                </div>
                <div class="navbar-login">
                    <a href="http://127.0.0.1:3000/GeziturLog" blank="_leave" class="login"><i
                            class="fa-solid fa-user-tie fa-2xl" title="Log-in"></i></a>

                </div>
            </div>

        </header>
        <main>
            <div class="main-container">
                <div class="main-title">Kayıt</div>
                <form action="#" method="POST">
                    <div class="main-user-details">
                        <div class="main-input-box">
                            <span class="details">Adınız</span>
                            <input type="text" name="name" placeholder="Adınızı girin" required>
                        </div>

                        <div class="main-input-box">
                            <span class="details">Kullanıcı Adı</span>
                            <input type="text" name="username" placeholder="Kullanıcı adı giriniz" required>
                        </div>

                        <div class="main-input-box">
                            <span class="details">E-mail</span>
                            <input type="text" name="mail" placeholder="E-mail giriniz" required>
                        </div>



                        <div class="main-input-box">
                            <span class="details">Şifre</span>
                            <input type="password" name="password" placeholder="şifre giriniz" required>
                        </div>


                    </div>

                    <div class="main-button">
                        <input type="submit" value="Register">
                    </div>
                </form>
            </div>
        </main>
        <!--Alt 1. bölüm-->

        <section class="section-container">
            <p class="section-paragraf"><a href="#" class="section-links">Sırlarla dolu Giza Piramitleri</a></p>
            <p class="section-paragraf"><a href="#" class="section-links">Çin</a></p>
            <p class="section-paragraf"><a href="#" class="section-links">Almanya</a></p>
        </section>

        <!--Alt ikinci bölüm-->
        <div class="footer-container">
            <div class="social-icon">
                <a title="Facebook" href="https://www.facebook.com/emin.aldas.37/" class="footer-social-link"
                    target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a title="Instagram" href="https://www.instagram.com/eminalds/" class="footer-social-link"
                    target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a title="Twitter" href="https://twitter.com/AldsEmin" class="footer-social-link" target="_blank"><i
                        class="fa-brands fa-twitter"></i></a>
                <a title="Youtube" href="https://www.youtube.com/channel/UCk1xreJb2dm-wes0-APkxKA"
                    class="footer-social-link" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                <a title="Github" href="https://github.com/eminaldas" class="footer-social-link" target="_blank"><i
                        class="fa-brands fa-github"></i></a>
                <a title="Discord" href="discordapp.com/users/Muhammed Emin Aldaş#3369" class="footer-social-link"
                    target="_blank"><i class="fa-brands fa-discord"></i></a>
            </div>
            <div class="footer-navbar">
                <ul class="footer-navbar-ul">
                    <li class="footer-navbar-li"><a href="http://127.0.0.1:3000" class="footer-navbar-a"
                            title="Home">Home</a></li>
                    <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/aboutUs" class="footer-navbar-a">About
                            us</a></li>
                    <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/others"
                            class="footer-navbar-a">Others</a></li>
                </ul>
            </div>
            <div class="fotter-text">
                <p>Copyright &copy;2023; Designed By <span class="footer-desinger">Muhammed Emin Aldas</span></p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/GeziturLog-in.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/slider.js"></script>

</body>

</html>