<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,300;0,500;0,600;1,400;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="GeziTurAnasayfa/resimler/Yeni klasör/avianex.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="boxicons.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/Geziturwelcome.css">
    <title>Aldasland | Hoş Geldiniz</title>

</head>

<body>
    <header class="nav">
        <div class="navbar">
            <div class="navbar-logo"><a href="http://127.0.0.1:3000" class="logo-menu"><i
                        class="fa-brands fa-avianex fa-2xl" title="AldasLand"></i></a></div>
            <div class="navbar-menu">
                <ul class="navigation">
                    <li class="nav-text"><a href="http://127.0.0.1:3000" class="menu-item">Anasayfa</a></li>

                    <div class="dropdown">
                        <div class="select">
                            <span class="selected">Ülkeler</span>
                            <div class="caret"></div>
                        </div>
                        <ul class="drop">
                            <li class="drop-li"><a href="http://127.0.0.1:3000/continents/avrupa"
                                    class="dropdown-text">Avrupa</a></li>
                            <li class="drop-li"><a href="http://127.0.0.1:3000/continents/asya"
                                    class="dropdown-text">Asya</a></li>
                            <li class="drop-li"><a href="http://127.0.0.1:3000/continents/afrika"
                                    class="dropdown-text">Afrika</a></li>
                            <li class="drop-li"><a href="http://127.0.0.1:3000/continents/amerika"
                                    class="dropdown-text">Amerika</a></li>

                        </ul>
                    </div>

                    <li class="nav-text"><a href="http://127.0.0.1:3000/continents" class="menu-item">Kıtalar</a></li>
                    <li class="nav-text"><a href="http://127.0.0.1:3000/GeziTurSign"
                        class="menu-item">Kayıt ol</a></li>


                </ul>

            </div>
            <div class="navbar-login">
                <a href="http://127.0.0.1:3000/GeziturLog" blank="_leave" class="login"><i class="fa-solid fa-user-tie fa-2xl"
                        title="Log-in"></i></a>

            </div>
        </div>

    </header>
    <main class="hero">
        <div class="hero-text">
            <h5>Hoş geldiniz</h5>
            <h1>aldasland</h1>
            <p>"Herzaman bir seçenek vardır.Önemli olan senin neyi seçtiğin."</p>
            <h4>- Cassandea Clare</h4>
            <a href="http://127.0.0.1:3000">Devam</a>
            <a href="http://127.0.0.1:3000/" class="ctaa"><i class="ri-play-fill"></i>Watch Gameplay</a>
        </div>
        <div class="hero-img"><img src="/resimler/Yeni klasör/eifel.png" alt=""></div>
    </main>
    <div class="icons">
        <a href="https://www.instagram.com/eminalds/" target="_blank"><i class="ri-instagram-line"></i></a>
        <a href="https://www.youtube.com/channel/UCk1xreJb2dm-wes0-APkxKA"  target="_blank"><i class="ri-youtube-line"></i></a>
        <a href="https://github.com/eminaldas"  target="_blank" ><i class="ri-github-line"></i></a>
        <a href="https://twitter.com/AldsEmin"  target="_blank"><i class="ri-twitter-line"></i></a>
    </div>
    <div class="scroll-down">
        <a href=""><i class="ri-arrow-down-s-fill"></i></a>

    </div>
 <script src="/js/navbar.js"></script>

</body>

</html>