<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aldasland | Harran evleri</title>
    <link rel="icon" type="image/x-icon" href="/resimler/Yeni klasör/avianex.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/3.6.harranev.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>

<body>
    <div id="progress">
        <span id="progress-value"><i class="fa-solid fa-chevron-up"></i></span>
    </div>
    <div class="body">
        <div class="container">
            <header class="nav">
                <div class="navbar">
                    <div class="navbar-logo"><a href="http://127.0.0.1:3000" class="logo-menu"><i
                                class="fa-brands fa-avianex fa-2xl" title="AldasLand"></i></a></div>
                    <div class="navbar-menu">
                        <ul class="navigation">
                            <li class="nav-text"><a href="http://127.0.0.1:3000" class="menu-item">Anasayfa</a></li>

                            <div class="dropdown">
                                <div class="select">
                                    <span class="selected">Ülkeler</span>
                                    <div class="caret"></div>
                                </div>
                                <ul class="drop">
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/avrupa"
                                            class="dropdown-text">Avrupa</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/asya"
                                            class="dropdown-text">Asya</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/afrika"
                                            class="dropdown-text">Afrika</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/amerika"
                                            class="dropdown-text">Amerika</a></li>

                                </ul>
                            </div>

                            <li class="nav-text"><a href="http://127.0.0.1:3000/continents"
                                    class="menu-item">Kıtalar</a></li>
                                    <li class="nav-text"><a href="http://127.0.0.1:3000/GeziTurSign"
                                        class="menu-item">Kayıt ol</a></li>

                        </ul>

                    </div>
                    <div class="navbar-login">
                        <a href="http://127.0.0.1:3000/GeziturLog" blank="_leave" class="login"><i
                                class="fa-solid fa-user-tie fa-2xl" title="Log-in"></i></a>

                    </div>
                </div>
                <img src="/adobe/header7.png" alt="">
            </header>
            <!--main kısmı-->


            <main class="main">



                <div class="main-container">

                    <div class="main-search">

                        <form action="https://www.google.com/search" method="get" class="search-form">
                            <div class="google-search">
                                <script async src="https://cse.google.com/cse.js?cx=51e502db8d6ef437e">
                                </script>
                                <div class="gcse-searchbox-only"></div>
                            </div>
                        </form>


                    </div>

                    <div class="main-menu">
                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">Şanlıurfa - Harran evleri</h1>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Kubbe ev (arı kovanı ev), çatısı taşlar ile kubbe şeklinde yapılmış ev. Ev yapımında
                                kerpiç ve taş kullanılmaktadır. Harran evleri kubbeli evlere örnektir. Kubbelerin amacı
                                yazları aşırı sıcak bölgede sıcak havanın kubbe içinde toplanması ve tepedeki boşluktan
                                dışarı çıkmasını sağlamaktır. Evler camsız, kalın duvarlı ve konik kubbelidir</p>
                            <br>
                            <p>Mimaride Tholos denilen yuvarlak yapılara, Mezopotamya, Akdeniz çevresi, Anadolu'nun
                                doğusu ve Kafkasya'da rastlanır. Kubbeli, konik, kümbet ve konik gibi isimler verilen
                                evlere İskoçya'da Beehive house (Arı kovanı) denilir. Suruç ve Harran'ın dışında
                                dünyada; Tiflis, Musul, Kıbrıs, Alberello ve Puglia'da (İtalya), İspanya, İskoçya, Peru,
                                Afganistan, Çin ve İran'da kubbeli evlere rastlanmaktadır</p>
                            <br>
                            <p>Harran evleri, surların içinde, bitişik bindirme yöntemi ile yapılmış sık dokulu ve
                                toplu, kubbeli evlerdir. Evler komşuların akraba olmasından dolayı yan yanadır. Evin
                                odaları içeriden birbirine bağlıdır. İslam anlayışına göre evler selamlık ve haremlik
                                olarak iki kısma ayrılmıştır. Kubbeler 4-5 m yüksekliğindedir. Tepesinde sıcak havanın
                                çıkacağı havalandırma delikleri bulunur
                            </p>
                            <br>
                            <p>
                                Meskenlerin yapımında kullanılan taşlar eski Harran kalesi surlarından temin edilmiştir.
                                Tarihi üniversite ve Ulu Cami taşları da kullanılarak bu binalara zarar verilmiştir.
                                Binanın genel şekli ve kubbesi taşlar ile örüldükten sonra dışı ot, saman ve çamur
                                karışımı ile sıvanır. Tepesinde kubbe olan her bir birim (oda vb.) 9-16 m2
                                ebadındadır. Bir avlunun etrafında sıralı birimlerden oluşan evlerin tarihi 150-200 yıl
                                kadardır. Harran evlerinin kökeni oldukça eskilere dayanır. Musul, Kıbrıs ve Tiflis'te
                                kubbeli evlerin tarihi M.Ö IV. bine dayanır
                            </p>
                            <br>
                            <p>Harran'da artık modern evler yapıldığından, kubbeli evler terk edilmektedir. İlçe
                                merkezinde birkaç ev kültür evi adı ile restore edilip, ziyarete açılmıştır. Çevrede
                                kullanılan geleneksel eşyalar bu evlerin içinde ve dışında sergilenmektedir. Çevrede
                                yetişen üzerlik otundan çeşitli süs eşyaları yapılıp turistlere satılmaktadır.</p>
                            <br>
                            <p>1979 yılında alan sit alanı ilan edilmiş, mimari değişiklik, inşaat yapılması ve malzeme
                                alınması yasaklanmıştır. Tespit edilen 960 kubbeli evden, biri restore edilmiş, dördü
                                kültür bakanlığı tarafından restore edilmek üzere satın alınmıştır.</p><br>

                        </div>






                        <div class="main-menu-header-div">
                            <h1 class="galeri-header">galeri</h1>
                        </div>
                        <div class="galeri">
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/şanlıurfa/Harran_bee.jpeg"><img
                                        src="/resimler/avrupa/türkiye/şanlıurfa/Harran_bee.jpeg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/şanlıurfa/Harran_evi_çatı.jpg"><img
                                        src="/resimler/avrupa/türkiye/şanlıurfa/Harran_evi_çatı.jpg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/şanlıurfa/Harran,_63510_Harran-Şanlıurfa_Province,_Turkey_-_panoramio_(1).jpg"><img
                                        src="/resimler/avrupa/türkiye/şanlıurfa/Harran,_63510_Harran-Şanlıurfa_Province,_Turkey_-_panoramio_(1).jpg"
                                        alt=""></a></div>
                           
                        </div>


                    </div>
                    <div class="main-ekstra">
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/şanlıurfa/Kubbe_ev_harran.jpg"><img
                                        src="/resimler/avrupa/türkiye/şanlıurfa/Kubbe_ev_harran.jpg" alt=""></a></div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Kubbe evler</p>
                        </div>
                        <hr>
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/şanlıurfa/Harran_(39732930874).jpg"><img
                                        src="/resimler/avrupa/türkiye/şanlıurfa/Harran_(39732930874).jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Harran evleri</p>
                        </div>
                        <hr>



                    </div>

                </div>


            </main>




            <section class="section-container">
                <p class="section-paragraf"><a href="#" class="section-links">Küba</a></p>
                <p class="section-paragraf"><a href="#" class="section-links">1234</a></p>
                <p class="section-paragraf"><a href="http://127.0.0.1:3000/continents/newyork/centralpark"
                        class="section-links">centralpark</a></p>
            </section>




            <!--footer-->
            <footer>
                <div class="footer-container">
                    <div class="social-icon">
                        <a title="Facebook" href="https://www.facebook.com/emin.aldas.37/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a title="Instagram" href="https://www.instagram.com/emin.alds/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a title="Twitter" href="https://twitter.com/AldsEmin" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a title="Youtube" href="https://www.youtube.com/channel/UCk1xreJb2dm-wes0-APkxKA"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                        <a title="Github" href="https://github.com/eminaldas" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a title="Discord" href="discordapp.com/users/Muhammed Emin Aldaş#3369"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-discord"></i></a>
                    </div>
                    <div class="footer-navbar">
                        <ul class="footer-navbar-ul">
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000" class="footer-navbar-a"
                                    title="Home">Home</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/aboutUs"
                                    class="footer-navbar-a">About us</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/others"
                                    class="footer-navbar-a">Others</a></li>
                        </ul>
                    </div>
                    <div class="fotter-text">
                        <p>Copyright &copy;2023; Designed By <span class="footer-desinger">Muhammed Emin Aldas</span>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/slider.js"></script>
</body>

</html>