<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aldasland | İstanbul</title>
    <link rel="icon" type="image/x-icon" href="/resimler/Yeni klasör/avianex.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/3.istanbul.css">
    <link rel="stylesheet" href="/css/navbar.css">

</head>

<body>
    <div id="progress">
        <span id="progress-value"><i class="fa-solid fa-chevron-up"></i></span>
    </div>
    <div class="body">
        <div class="container">
            <header class="nav">
                <div class="navbar">
                    <div class="navbar-logo"><a href="http://127.0.0.1:3000" class="logo-menu"><i
                                class="fa-brands fa-avianex fa-2xl" title="AldasLand"></i></a></div>
                    <div class="navbar-menu">
                        <ul class="navigation">
                            <li class="nav-text"><a href="http://127.0.0.1:3000" class="menu-item">Anasayfa</a></li>

                            <div class="dropdown">
                                <div class="select">
                                    <span class="selected">Ülkeler</span>
                                    <div class="caret"></div>
                                </div>
                                <ul class="drop">
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/avrupa"
                                            class="dropdown-text">Avrupa</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/asya"
                                            class="dropdown-text">Asya</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/afrika"
                                            class="dropdown-text">Afrika</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/amerika"
                                            class="dropdown-text">Amerika</a></li>

                                </ul>
                            </div>

                            <li class="nav-text"><a href="http://127.0.0.1:3000/continents"
                                    class="menu-item">Kıtalar</a></li>
                                    <li class="nav-text"><a href="http://127.0.0.1:3000/GeziTurSign"
                                        class="menu-item">Kayıt ol</a></li>

                        </ul>

                    </div>
                    <div class="navbar-login">
                        <a href="http://127.0.0.1:3000/GeziturLog" blank="_leave" class="login"><i
                                class="fa-solid fa-user-tie fa-2xl" title="Log-in"></i></a>

                    </div>
                </div>
                <img src="/adobe/header2.png" alt="">
            </header>
            <!--main kısmı-->


            <main class="main">



                <div class="main-container">

                    <div class="main-search">

                        <form action="https://www.google.com/search" method="get" class="search-form">
                            <div class="google-search">
                                <script async src="https://cse.google.com/cse.js?cx=51e502db8d6ef437e">
                                </script>
                                <div class="gcse-searchbox-only"></div>
                            </div>
                        </form>


                    </div>

                    <div class="main-menu">
                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">İstanbul</h1>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>İstanbul, Türkiye'de Marmara Bölgesi'nde yer alan şehir ve Türkiye'nin 81 ilinden
                                biridir. Ülkenin nüfus bakımından en çok göç alan ve en kalabalık ilidir. Ekonomik,
                                tarihî ve sosyo-kültürel açıdan önde gelen şehirlerden biridir. Şehir, iktisadi büyüklük
                                açısından dünyada 34. sırada yer alır. Nüfuslarına göre şehirler listesinde belediye
                                sınırları göz önüne alınarak yapılan sıralamaya göre Avrupa'da birinci, dünyada ise
                                altıncı sırada yer almaktadır.</p><br>

                            <p>İstanbul Türkiye'nin kuzeybatısında, Marmara kıyısı ve Boğaziçi boyunca, Haliç'i de
                                çevreleyecek şekilde kurulmuştur. İstanbul kıtalararası bir şehir olup, Avrupa'daki
                                bölümüne Avrupa Yakası veya Rumeli Yakası, Asya'daki bölümüne ise Anadolu Yakası veya
                                Asya Yakası denir. Tarihte ilk olarak üç tarafı Marmara Denizi, Boğaziçi ve Haliç'in
                                sardığı bir yarımada üzerinde kurulan İstanbul'un batıdaki sınırını İstanbul Surları
                                oluşturmaktaydı. Gelişme ve büyüme sürecinde surların her seferinde daha batıya
                                ilerletilerek inşa edilmesiyle dört defa genişletilen şehrin 39 ilçesi vardır.
                                Sınırları içerisinde ise büyükşehir belediyesi ile birlikte toplam 40 belediye
                                bulunmaktadır.</p><br>

                            <p>Dünyanın en eski şehirlerinden biri olan İstanbul, 330-395 yılları arasında Roma
                                İmparatorluğu, 395-1204 yılları arasında Bizans İmparatorluğu, 1204-1261 yılları
                                arasında Latin İmparatorluğu,1261-1453 yılları arasında tekrar Bizans İmparatorluğu ve
                                son olarak 1453-1922 yılları arasında Osmanlı İmparatorluğu'na başkentlik yaptı.
                                Ayrıca İstanbul, Hilâfetin Osmanlı İmparatorluğu'na geçtiği 1517'den kaldırıldığı 1924'e
                                kadar İslam dünyasının da merkezi oldu.</p><br>

                            <p>Son yıllarda ortaya çıkartılan arkeolojik bulgularla insanlık tarihine ilişkin önemli
                                bilgiler elde edilmiştir. Yarımburgaz Mağarası'ndan çıkarılan taş aletlerle, ilkel insan
                                izlerinin 400.000 yıl öncesine dayandığı ortaya çıkmıştır. Anadolu
                                Yakası'nda yürütülen kazı çalışmaları ve bunlara bağlı araştırmalar, şehirde tarım ve
                                hayvancılığa dayalı ilk yerleşik insan topluluğunun MÖ 5500'lere tarihlenen Fikirtepe
                                Kültürü olduğunu göstermiştir. Bu arkeolojik bulgular yalnızca İstanbul'un değil,
                                tüm Marmara Bölgesi'nin en eski insan izleridir.İstanbul sınırları içinde kent
                                bazında ilk yerleşimler ise Anadolu Yakası'nda Kalkedon; Avrupa Yakası'nda
                                Byzantion'dur. Cumhuriyet dönemi öncesinde egemenliği altında olduğu devletlere yüzlerce
                                yıl başkentlik yapan İstanbul, 13 Ekim 1923 tarihinde başkentin Ankara'ya taşınmasıyla
                                bu özelliğini yitirmiş; ancak ülkenin ticaret, sanayi, ulaşım, turizm, eğitim, kültür ve
                                sanat merkezi olmaya devam etmiştir.</p><br>

                            <p>Karadeniz ile Marmara Denizi'ni bağlayan ve Asya ile Avrupa'yı ayıran İstanbul Boğazı'na
                                ev sahipliği yapması nedeniyle, İstanbul'un jeopolitik önemi oldukça yüksektir.
                                Bugün tamamına yakını doldurulmuş olan ya da kaybolan doğal limanları vardır. Bu
                                özellikleri yüzünden bölge toprakları üzerinde uzun süreli egemenlik anlaşmazlıkları ve
                                savaşlar yaşanmıştır. Başlıca akarsular Riva, Kâğıthane ve Alibey dereleridir.İl
                                toprakları az engebelidir ve en yüksek noktası Kartal ilçesindeki Aydos Tepesi'dir.
                                İldeki başlıca doğal göller Büyükçekmece, Küçükçekmece ve Durusu gölleridir. İl ve
                                yakın çevresinde, Karadeniz ile Akdeniz makro iklimleri arasında geçiş özellikleri
                                görülür. Hava sıcaklıkları ve yağış ortalamaları düzensiz; bitki örtüsü dengesizdir.
                            </p><br>
                        </div>
                        <div class="main-menu-header-div">
                            <h2 class="main-menu-header-content">İKLİM</h2>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>stanbul'un iklimi, Türkiye'de Karadeniz iklimi ile Akdeniz iklimi arasında geçiş özelliği
                                gösteren bir iklimdir, dolayısıyla İstanbul'un iklimi ılımandır.Köppen iklim
                                sınıflandırmasına göre İstanbul ılıman dönencealtı iklimi (Cfa), Akdeniz iklimi (Csa) ve
                                okyanusal iklim (Cfb) özellikleri gösteren bir geçiş iklimine sahiptir. Şehrin
                                boyutu, topoğrafik yapısı ve iki farklı denize kuzey ve güney yönlerinde kıyısı olması
                                nedeni ile şehir içinde farklı mikroiklimler görülür. Şehrin kuzey kısmını kapsayan,
                                Karadeniz'e yakın olan bölgeler ile Boğaz kıyıları ılıman dönence altı iklim ve
                                okyanusal iklim etkisi altındadır ve görece yüksek neme ve yoğun bitki örtüsüne
                                sahiptir.</p><br>

                            <p>İstanbul'un yazları sıcak ve nemli; kışları soğuk, yağışlı ve bazen karlıdır. Nem
                                yüzünden, hava sıcak olduğundan daha sıcak; soğuk olduğundan daha soğuk hissedilebilir.
                                Kış aylarındaki ortalama sıcaklık 2 °C ile 9 °C civarındadır ve genelde yağmur ve karla
                                karışık yağmur görülür.Yaz aylarındaki ortalama sıcaklık 18 °C ile 28 °C
                                civarındadır ve genelde yağmur ve sel görülür.En sıcak aylar Temmuz ve Ağustos
                                aylarıdır ve ortalama sıcaklık 23 °C'dir, en soğuk aylar da Ocak ve Şubat aylarıdır ve
                                ortalama sıcaklık 5 °C'dir.İstanbul'da yılın ortalama sıcaklığı 13,7 derecedir.
                                Şu ana kadar en yüksek hava sıcaklığı; 12 Temmuz 2000'de 40.5 °C olarak kaydedilmiştir.
                                En düşük hava sıcaklığı ise; 9 Şubat 1929'da -16.1 °C olarak kaydedilmiştir.</p><br>

                            <p>Toplam yıllık yağış 843,9 mm'dir ve tüm yıl boyunca görülür. Yağışların %38'i kış
                                %18'i ilkbahar, %13'ü yaz, %31'i sonbahar mevsimindedir. Yaz en kuru mevsimdir, ama
                                Akdeniz iklimlerinin aksine kurak mevsim yoktur. İstanbul 1994 yılına kadar susuzluk
                                çekmiştir fakat alınan önlemlerle herhangi bir su sıkıntısı kalmamıştır. Bunlardan biri
                                Melen projesidir. Şehrin Marmara Denizi'ne bakan güney kısımları ise daha kuru ve sıcak
                                bir iklime sahip olup, daha az yağış alır.Bu durum şehrin Bahçeköy (1166.6 mm) gibi
                                bölgelerinde Marmara Denizi'ne bakan Florya'ya (635.0 mm) kıyasla yaklaşık iki kat daha
                                fazla yağış görülmesine yol açar. Güney Karadeniz'in kışın görece ılık olması,
                                çevrede bulunan soğuk ve kuru hava parsellerinin bu alan üzerinden geçerken ısınarak nem
                                kazanmasına neden olur ve bu şiddetli kar sağanakları meydana getirir. Göl etkenli kar
                                yağışı olarak isimlendirilen bu durum neredeyse her kış İstanbul'da meydana
                                gelmektedir. İstanbul, Akdeniz Havzası içerisindeki en karlı büyük şehirdir.
                                Şehir içerisindeki en yüksek kar kalınlığı Ocak 1942'de 75 cm olarak kaydedilmiştir.
                                İlin tamamındaki kar kalınlığı rekoru Ocak 2017'de 104 cm ile kuzey bölgelerinde
                                görülmüştür.

                                Şehir oldukça rüzgârlıdır; rüzgârın ortalama hızı saatte 17 km'dir.</p><br>
                        </div>
                        <div class="main-menu-header-div">
                            <h2 class="main-menu-header-content">ALIŞVERİŞ</h2>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>İstanbul'da çok sayıda tarihi çarşı vardır. Kapalıçarşı (1461), Mahmutpaşa Çarşısı (1462)
                                ve Mısır Çarşısı bunlardan en önemlileridir. İlk modern alışveriş merkezi ise Bakırköy
                                ilçesinde bulunan Galleria'dır. 20. yüzyılın son yıllarında daha ziyade "alışveriş
                                merkezi" adı verilen modern çarşıların sayısı artmıştır. Bunların en önemlileri,
                                Akmerkez 1993, Capitol Alışveriş Merkezi 1994, Profilo Alışveriş Merkezi 1998, Cevahir
                                Alışveriş Merkezi 2002, Avrupa'nın ve Dünya'nın en iyi alışveriş merkezi ödülünü kazanan
                                Metrocity (2003), Kanyon Alışveriş Merkezi (2006), İstinye Park (2008), Meydan Alışveriş
                                Merkezi (Ümraniye - Merter - 2009).</p>
                            <br>

                        </div>
                        <div class="main-menu-header-div">
                            <h2 class="main-menu-header-content">RESTORANTLAR</h2>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>İstanbul, geleneksel Türk lokantaları ile birlikte, Avrupa ve Uzak Doğulu birçok restoran
                                ve diğer mutfakları bünyesinde barındırmaktadır. Kentin en önemli meyhane ve barları
                                şehrin en canlı yerlerinden biri olan Beyoğlu ilçesindeki İstiklal Caddesi'nde
                                toplanmıştır. 1876 yılında açılan Çiçek Pasajı, pek çok tarihi meyhane, bar ve restoranı
                                içerisinde bulundurmaktadır. 1870 yılındaki büyük Beyoğlu yangını sonucu yanarak yıkılan
                                Naum Tiyatrosu'nun yerine Hristaki Zografos Efendi tarafından inşa ettirilmiştir. Rum
                                Cleanthy Zanno'nun mimarlığında yeni bir tip çarşı binası olarak Cité de Péra adıyla
                                açılmıştır.</p>
                            <br>
                            <p>Diğer tarihi bar ve kahvehaneler Tünel Pasajı çevresindeki alanlarda ve Asmalımescit
                                Sokağı yakınlarında ve yine Çiçek Pasajı'nın arka tarafına düşen Nevizade Sokağı'nda
                                yoğunlukla bulunur. İstiklal Caddesi çevresindeki bazı tarih mahalleler farklı
                                şekillerde yeniden restore edilmiştir. Galatasaray Lisesi yakınlarındaki Cezayir
                                Sokağı'nda resmi olmayan adıyla bilinen La Rue Française de (Fransız Sokağı)
                                frankofon barlar, kafeler ve canlı müzik dinletisi sunan restaronlar bulunmaktadır.</p>
                            <br>
                            <p>İstanbul da tarihi balık lokantalarıda oldukça ünlüdür. En popüler balık lokantaları
                                genellikle Boğaz'da ve şehrin güneyindeki Marmara Denizi kıyılarındadır.
                                Ayrıca Marmara Denizi'ndeki en büyük Prens Adaları (Büyükada, Heybeliada, Burgazada ve
                                Kınalıada) ve İstanbul Boğazı'nın kuzey girişinde bulunan Anadolu Kavağı'da tarihi balık
                                restoranlarıyla ünlüdür.</p>
                        </div>
                        <div class="main-menu-header-div">
                            <h2 class="main-menu-header-content">GECE HAYATI</h2>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Şehirdeki pek çok gece kulübü, barlar, restoranlar ve tavernalar canlı müzik ile birlikte
                                insanlara hizmet vermektedir. Gece kulüpleri, restoran ve barların sayısında artışla
                                birlikte yaz aylarında artan sıcaklık insanları bu yerlere çekmektedir. Özellikle
                                İstiklal Caddesi ve Nişantaşı çevrelerinde kafeler, restoranlar, barlar, kulüpler, sanat
                                galerileri, tiyatro ve sinemalar yoğunlaşmıştır. Babylon ve Nu Pera Beyoğlu'daki
                                yaz ve kış hizmet veren gece kulüplerindendir.</p>
                            <br>
                            <p>En popüler açık hava gece kulüpleri İstanbul Boğazı kıyılarında bulunur. Ortaköy semtinde
                                bulunan Sortie,Reina ve Anjelique bunlardan bazılarıdır. Ortaköy
                                semtinin bir diğer önemli mekânlarından Q Caz Bar ise canlı caz müziği ile insanlara şık
                                bir ortam sunmaktadır.</p>
                            <br>
                            <p>Maslak semtindeki İstanbul Arena ve Boğaziçi'ndeki Kuruçeşme Arena dünyanın dört bir
                                köşesinden gelen ünlü şarkıcı ve orkestraların canlı konserlerine ev sahipliği
                                yapmaktadır. Maslak semtindeki bir başka yerlerden birisi olan Parkorman,Music
                                TV'nin 2002 yılındaki canlı konser ve partilerine ev sahipliği yapmıştır.</p>
                            <br>

                        </div>
                        <div class="main-menu-header-div">
                            <h2 class="main-menu-header-content">ULAŞIM</h2>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>İstanbul'da ulaşım kara, hava, deniz ve demiryolu gibi farklı şekillerde yapılmaktadır.
                                Şehiriçi, şehirlerarası ve uluslararası taşımacılığın yapıldığı büyük merkezlere
                                sahiptir. İlde havayolu ulaşımının yapıldığı iki sivil havalimanı vardır.
                                Birisi 2019 yılında açılan İstanbul Havalimanı’dır. İstanbul Havalimanı’nda iç ve dış
                                hatlar için 2 ayrı terminal vardır. Atatürk Havalimanı’ndan planlanmış tüm uçuşlar, 6
                                Nisan 2019 tarihinden beri İstanbul Havalimanı’nından yapılmaktadır. Atatürk
                                Havalimanı’nın bundan sonraki kullanım şekli henüz netlik kazanmadı. İstanbul
                                Havalimanı; Arnavutköy-Göktürk-Çatalca kavşağında, Akpınar ve Yeniköy mahalleleri
                                arasındaki 7.650 hektarlık alanda yer almaktadır. İstanbul Havalimanının web sitesi
                                aşağıdaki adrestir. Diğer havalimanı ise Anadolu Yakası’nda bulunan Sabiha Gökçen
                                Havalimanı’dır. Yurt içi ve yurt dışı pek çok merkeze aktarma yapmaksızın uçmak
                                mümkündür. İldeki havalimanlarından İstanbul Havalimanı, Avrupa Yakası'nda Arnavutköy
                                ilçesinde; Sabiha Gökçen Havalimanı ise Anadolu Yakası'nda Pendik ilçesinde yer
                                alır. Atatürk Havalimanı ilde alanında ilk olup, hava ulaşımında en büyük paya
                                sahipti. Havalimanından günde ortalama 650-700 uçak havalanmaktaydı.Kent merkezine
                                metro hattı ve otoyollarla bağlıdır.</p>
                        </div>
                        <div class="main-menu-slider-container">
                            <div class="slider">
                                <div class="slides">
                        
                                    <input type="radio" name="radio-btn" id="radio1">
                                    <input type="radio" name="radio-btn" id="radio2">
                                    <input type="radio" name="radio-btn" id="radio4">
                                    <input type="radio" name="radio-btn" id="radio3">
                        
                        
                                    <div class="slide first">
                                        <div class="slide-content">
                                            <h1>Yerebatan Sarnıcı</h1>
                                        </div>
                                       <a href="http://127.0.0.1:3000/continents/avrupa/istanbul/yerebatan"> <img src="/resimler/avrupa/türkiye/İstanbul/Yerebatan sarnıcı.jpeg" alt=""></a>
                                    </div>
                                    <div class="slide">
                                        <div class="slide-content">
                                            <h1>Sultanahmet Cami</h1>
                                        </div>
                                        <a href="http://127.0.0.1:3000/continents/avrupa/istanbul/sultanahmet"><img src="/resimler/sultanAhmet4k.jpg" alt=""></a>
                                    </div>
                                    <div class="slide">
                                        <div class="slide-content">
                                            <h1>Ayasofya</h1>
                                        </div>
                                        <a href="http://127.0.0.1:3000/continents/avrupa/istanbul/ayasofya"><img src="/resimler/avrupa/türkiye/İstanbul/wallpaperflare.com_wallpaper.jpg" alt=""></a>
                                    </div>
                                    <div class="slide">
                                        <div class="slide-content">
                                            <h1>Galata Kulesi</h1>
                                        </div>
                                       <div class="slide-content-img"> 
                                        <a href="http://127.0.0.1:3000/continents/avrupa/istanbul/galatakulesi"><img src="/resimler/avrupa/türkiye/İstanbul/wallpaperflare.com_wallpaper (1).jpg" alt=""></a>
                                    </div>
                                       
                                    </div>
                        
                        
                                    <div class="navigation-auto">
                                        <div class="auto-btn1"></div>
                                        <div class="auto-btn2"></div>
                                        <div class="auto-btn3"></div>
                                        <div class="auto-btn4"></div>
                                    </div>
                                   
                                </div>
                                <div class="navigation-manual">
                                    <label for="radio1" class="manual-btn"></label>
                                    <label for="radio2" class="manual-btn"></label>
                                    <label for="radio3" class="manual-btn"></label>
                                    <label for="radio4" class="manual-btn"></label>
                                </div>
                            </div>
                        
                           </div>




                    </div>
                    <div class="main-ekstra">
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img">
                                <img src="/resimler/avrupa/türkiye/İstanbul/ist22.svg" alt="">
                            </div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>İstanbul'un Türkiyedeki konumu</p>
                        </div>
                        <hr>
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img">
                                <img src="/resimler/avrupa/türkiye/İstanbul/ist11.svg" alt="">
                            </div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>İstanbul haritası</p>
                        </div>
                        <hr>
                        <div class="menu-card-ekstra-template">
                            <h3 style="text-align: center;">İstanbul ilçeleri</h3>
                            <ul class="menu-ekstra-list">
                                <a href="#">
                                    <li>Adalar</li>
                                </a><a href="#">
                                    <li>Arnavutköy</li>
                                </a><a href="#">
                                    <li>Ataşehir</li>
                                </a><a href="#">
                                    <li>Avcılar</li>
                                </a><a href="#">
                                    <li>Bağcılar</li>
                                </a><a href="#">
                                    <li>Bahçelievler</li>
                                </a><a href="#">
                                    <li>Bakırköy</li>
                                </a><a href="#">
                                    <li>Başakşehir</li>
                                </a><a href="#">
                                    <li>Bayrampaşa</li>
                                </a><a href="#">
                                    <li>Beşiktaş</li>
                                </a><a href="#">
                                    <li>Beykoz</li>
                                </a><a href="#">
                                    <li>Beylikdüzü</li>
                                </a><a href="#">
                                    <li>Beyoğlu</li>
                                </a><a href="#">
                                    <li>Büyükçekmece</li>
                                </a><a href="#">
                                    <li>Çatalca</li>
                                </a><a href="#">
                                    <li>Çekmeköy</li>
                                </a><a href="#">
                                    <li>Esenler</li>
                                </a><a href="#">
                                    <li>Esenyurt</li>
                                </a><a href="#">
                                    <li>Eyüpsultan</li>
                                </a><a href="#">
                                    <li>Fatih</li>
                                </a><a href="#">
                                    <li>Gaziosmanpaşa</li>
                                </a><a href="#">
                                    <li>Güngören</li>
                                </a><a href="#">
                                    <li>Kadıköy</li>
                                </a><a href="#">
                                    <li>Kağıthane</li>
                                </a><a href="#">
                                    <li>Kartal</li>
                                </a><a href="#">
                                    <li>Küçükçekmece</li>
                                </a><a href="#">
                                    <li>Maltepe</li>
                                </a><a href="#">
                                    <li>Pendik</li>
                                </a><a href="#">
                                    <li>Sancaktepe</li>
                                </a><a href="#">
                                    <li>Sarıyer</li>
                                </a><a href="#">
                                    <li>Silivri</li>
                                </a><a href="#">
                                    <li>Sultanbeyli</li>
                                </a><a href="#">
                                    <li>Sultangazi</li>
                                </a><a href="#">
                                    <li>Şile</li>
                                </a><a href="#">
                                    <li>Şişli</li>
                                </a><a href="#">
                                    <li>Tuzla</li>
                                </a><a href="#">
                                    <li>Ümraniye</li>
                                </a><a href="#">
                                    <li>Üsküdar</li>
                                </a><a href="#">
                                    <li>Zeytinburnu</li>
                                </a>
                            </ul>
                        </div>
                        <hr>
                        <div>
                            <table class="main-ekstra-tables">
                                <tr>
                                    <td class="main-ekstra-tables-td-left">tür</td>
                                    <td class="main-ekstra-tables-td-right"><a href="https://tr.wikipedia.org/wiki/Belediye_ba%C5%9Fkan%C4%B1-meclis_y%C3%B6netimi" target="_blank">Belediye başkanı-meclis</a></td>
                                </tr>
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Organ</td>
                                    <td class="main-ekstra-tables-td-right"><a href="https://tr.wikipedia.org/wiki/%C4%B0stanbul_B%C3%BCy%C3%BCk%C5%9Fehir_Belediye_Meclisi" target="_blank">İBB Meclisi</a></td>
                                </tr>
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Vali</td>
                                    <td class="main-ekstra-tables-td-right"><a href="https://tr.wikipedia.org/wiki/Ali_Yerlikaya" target="_blank">Ali Yerlikaya</a></td>
                                </tr>
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Belediye Başkanı</td>
                                    <td class="main-ekstra-tables-td-right"><a href="https://tr.wikipedia.org/wiki/Ekrem_%C4%B0mamo%C4%9Flu" target="_blank">Ekrem İmamoğlu</a></td>
                                </tr>
                            </table>

                        </div>
                        <hr>
                        
                    </div>

                </div>


            </main>




            <section class="section-container">
                <p class="section-paragraf"><a href="#" class="section-links">Küba</a></p>
                <p class="section-paragraf"><a href="#" class="section-links"></a></p>
                <p class="section-paragraf"><a href="#" class="section-links">centralpark</a></p>
            </section>




            <!--footer-->
            <footer>
                <div class="footer-container">
                    <div class="social-icon">
                        <a title="Facebook" href="https://www.facebook.com/emin.aldas.37/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a title="Instagram" href="https://www.instagram.com/emin.alds/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a title="Twitter" href="https://twitter.com/AldsEmin" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a title="Youtube" href="https://www.youtube.com/channel/UCk1xreJb2dm-wes0-APkxKA"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                        <a title="Github" href="https://github.com/eminaldas" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a title="Discord" href="discordapp.com/users/Muhammed Emin Aldaş#3369"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-discord"></i></a>
                    </div>
                    <div class="footer-navbar">
                        <ul class="footer-navbar-ul">
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000" class="footer-navbar-a"
                                    title="Home">Home</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/aboutUs"
                                    class="footer-navbar-a">About us</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/others"
                                    class="footer-navbar-a">Others</a></li>
                        </ul>
                    </div>
                    <div class="fotter-text">
                        <p>Copyright &copy;2023; Designed By <span class="footer-desinger">Muhammed Emin Aldas</span>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/slider.js"></script>
</body>

</html>