<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aldasland | Kıtalar</title>
    <link rel="icon" type="image/x-icon" href="/resimler/Yeni klasör/avianex.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/Kıtalar.css">


</head>

<body>
    <div id="progress">
        <span id="progress-value"><i class="fa-solid fa-chevron-up"></i></span>
    </div>

    <div class="body">
        <div class="container">
            <header class="nav">
                <div class="navbar">
                    <div class="navbar-logo"><a href="http://127.0.0.1:3000" class="logo-menu"><i
                                class="fa-brands fa-avianex fa-2xl" title="AldasLand"></i></a></div>
                    <div class="navbar-menu">
                        <ul class="navigation">
                            <li class="nav-text"><a href="http://127.0.0.1:3000" class="menu-item">Anasayfa</a></li>

                            <div class="dropdown">
                                <div class="select">
                                    <span class="selected">Ülkeler</span>
                                    <div class="caret"></div>
                                </div>
                                <ul class="drop">
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/avrupa"
                                            class="dropdown-text">Avrupa</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/asya"
                                            class="dropdown-text">Asya</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/afrika"
                                            class="dropdown-text">Afrika</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/amerika"
                                            class="dropdown-text">Amerika</a></li>

                                </ul>
                            </div>

                            <li class="nav-text"><a href="http://127.0.0.1:3000/continents"
                                    class="menu-item">Kıtalar</a></li>
                                    <li class="nav-text"><a href="http://127.0.0.1:3000/GeziTurSign"
                                        class="menu-item">Kayıt ol</a></li> 

                        </ul>

                    </div>
                    <div class="navbar-login">
                        <a href="http://127.0.0.1:3000/GeziturLog" blank="_leave" class="login"><i
                                class="fa-solid fa-user-tie fa-2xl" title="Log-in"></i></a>

                    </div>
                </div>
                <img src="/adobe/header.png" alt="">

            </header>
            <!--main kısmı-->


            <main class="main">



                <div class="main-container">

                    <div class="main-search">

                        <form action="https://www.google.com/search" method="get" class="search-form">
                            <!-- <input title="search anything" type="text" placeholder="Search anything"
                                class="search-input">
                            <button type="submit" class="search-button" title="search"><i
                                    class="fa-solid fa-magnifying-glass fa-2xl"></i></button> -->
                            <div class="google-search">
                                <script async src="https://cse.google.com/cse.js?cx=51e502db8d6ef437e">
                                </script>
                                <div class="gcse-searchbox-only"></div>
                            </div>
                            
                        </form>


                    </div>


                    <div class="main-menu">
                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">AVRUPA KITASI</h1> <a
                                href="http://127.0.0.1:3000/continents/avrupa">
                                <div class="main-menu-header-link-div">
                                    <p>Tümü</p>
                                </div>
                            </a>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p class="main-menu-card-paragraf-content">Avrupa, kuzeyde Arktik Okyanusu, batıda Atlantik
                                Okyanusu, güneyde Akdeniz ve doğuda Asya ile çevrili bir kıtadır. Avrupa'nın Asya'dan
                                Ural Dağları, Ural Nehri, Hazar Denizi, Büyük Kafkaslar, Karadeniz ve Türk Boğazlarının
                                su yolları ile ayrıldığı kabul edilir.</p>
                            <br>
                            <p class="main-menu-card-paragraf-content">Avrupa'nın yüzölçümü yaklaşık 10.18 milyon
                                km²'dir ve bu da onu en küçük ikinci kıta yapmaktadır.Coğrafi olarak kıtanın %39'unu,
                                nüfusunun ise %15'ini oluşturan Rusya, Avrupa'nın en büyük ve en kalabalık ülkesidir.
                                2021 yılı itibarıyla Avrupa'nın toplam nüfusu yaklaşık 745 milyondur.</p>
                            <br>
                            <p class="main-menu-card-paragraf-content">Avrupa kültürü, soyu Antik Yunan ve Antik Roma'ya
                                kadar uzanan Batı uygarlığının başlangıç noktasıdır. MS 476'da Batı Roma
                                İmparatorluğu'nun çöküşü ve ardından gelen Kavimler Göçü, Avrupa'nın antik tarihinin
                                sonu, Orta Çağ'ın ise başlangıcı oldu. Rönesans hümanizmi, coğrafî keşifler, sanat ve
                                bilim, modern çağa öncülük etti. Portekiz ve İspanya tarafından başlatılan Keşif
                                Çağı'ndan bu yana, Avrupa küresel meselelerde baskın bir rol oynadı. 16. ve 20.
                                yüzyıllar arasında, Avrupalı güçler çeşitli zamanlarda Amerika kıtasını, neredeyse tüm
                                Afrika ve Okyanusya'yı ve Asya'nın çoğunluğunu sömürgeleştirdiler.</p>
                            <br>
                            <p class="main-menu-card-paragraf-content">Aydınlanma Çağı, ardından gelen Fransız Devrimi
                                ve Napolyon Savaşları, kıtayı 17. yüzyılın sonundan 19. yüzyılın ilk yarısına kadar
                                kültürel, politik ve ekonomik olarak şekillendirdi. 18. yüzyılın sonunda Büyük
                                Britanya'da başlayan Sanayi Devrimi, önce Batı Avrupa'da, sonrasında tüm Dünyada radikal
                                ekonomik, kültürel ve sosyal değişime yol açtı. Her iki dünya savaşı da çoğunlukla
                                Avrupa'da gerçekleşti, 20. yüzyılın ortalarında Sovyetler Birliği ve Amerika Birleşik
                                Devletleri'nin öne çıkması, Batı Avrupa'nın dünya meselelerindeki hakimiyetinin
                                azalmasına neden oldu. Soğuk Savaş sırasında Avrupa, 1989 Devrimleri'ne, Berlin
                                Duvarı'nın yıkılmasına ve Sovyetler Birliği'nin dağılmasına kadar Batı'da NATO, Doğu'da
                                Varşova Paktı arasında Demir Perde boyunca bölündü.</p>
                            <br>
                            <p class="main-menu-card-paragraf-content">1949'da, ortak hedeflere ulaşmak, gelecekteki
                                savaşları önlemek ve Avrupa'yı birleştirmek fikriyle Avrupa Konseyi kuruldu.Avrupa
                                bütünleşmesi fikri, bir konfederasyon ve bir federasyon arasında yer alan ve ayrı bir
                                siyasi varlık olan Avrupa Birliği'nin kurulmasına yol açtı. AB, Batı Avrupa'da kuruldu,
                                ancak 1991'de Sovyetler Birliği'nin çöküşünden bu yana doğuya doğru genişlemektedir.
                                Avrupa Birliği ülkelerinin çoğunun para birimi Euro'dur.</p>
                            <br>
                        </div>


                        <div class="menu-card">
                            <div class="menu-card-template">
                                <div class="menu-card-template-img">
                                    <img src="/resimler/avrupa/Almanya/frankfurt/123.jpg" alt="">
                                </div>
                                <div class="menu-card-template-content">
                                    <h2>Almanya Frankfurt</h2>
                                    <p>Frankfurt am Main, Main nehri kıyısında kurulmuş olan, 730.000'den fazla
                                        nüfusuyla Almanya'nın beşinci büyük şehridir. </p>
                                </div>
                            </div>
                            <div class="menu-card-template">
                                <div class="menu-card-template-img">
                                    <img src="/resimler/telefon boyut/eifel.jpg" alt="">
                                </div>
                                <div class="menu-card-template-content">
                                    <h2>Fransa Paris</h2>
                                    <p>Paris, Fransa'nın başkenti ve 105 kilometrekare'den fazla alanda 2,175,601 nüfusu
                                        ile en kalabalık şehridir. 17. yüzyıldan beri Paris Avrupa'nın en önemli finans,
                                        diplomasi, ticaret, moda, gastronomi, bilim ve sanat merkezlerindendir.</p>
                                </div>
                            </div>
                            <div class="menu-card-template">
                                <div class="menu-card-template-img">
                                    <img src="/resimler/telefon boyut/ayasofya.jpg" alt="">
                                </div>
                                <div class="menu-card-template-content">
                                    <h2>Türkiye İstanbul</h2>
                                    <p>İstanbul, Türkiye'de Marmara Bölgesi'nin Çatalca-Kocaeli Bölümü'nde yer alan
                                        şehir ve Türkiye'nin 81 ilinden biridir. Ülkenin nüfus bakımından en çok göç
                                        alan ve en kalabalık ilidir. Ekonomik, tarihî ve sosyo-kültürel açıdan önde
                                        gelen şehirlerden biridir.</p>
                                </div>
                            </div>
                            <div class="menu-card-template">
                                <div class="menu-card-template-img">
                                    <img src="/resimler/telefon boyut/pisa.jpg" alt="">
                                </div>
                                <div class="menu-card-template-content">
                                    <h2>İtalya pisa</h2>
                                    <p>Pisa,Kuzey İtalya'daki Toskana bölgesinde ayni ismi taşıyan Pisa ilinin merkezi
                                        olan bir şehirdir.Eğik Pisa Kulesi ve içinde Pisa Katedrali ve vaftizhanesi ile
                                        birlikte bulunduğu "Piazza del Duomo" bölgesi 1987'den itibaren UNESCO Dünya
                                        Mirasları listesi'ne alınmıştır.</p>
                                </div>
                            </div>
                        </div>

                        <div class="space-around-main"></div>
                        <!--                AsYA   -->


                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">ASYA KITASI</h1> <a
                                href="http://127.0.0.1:3000/continents/asya">
                                <div class="main-menu-header-link-div">
                                    <p>Tümü</p>
                                </div>
                            </a>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p class="main-menu-card-paragraf-content">Asya veya Asya Kıtası, Avrupa'nın doğusunda,
                                Büyük Okyanus'un batısında, Okyanusya'nın kuzeyinde ve Arktik Okyanus'un güneyinde
                                bulunan kıta, yüzölçümü olarak Dünya'nın en büyük kıtası, aynı zamanda nüfus açısından
                                en kalabalık kıtasıdır. Sınırları değişkenlik gösterse de Avrupa ve Afrika kıtaları ile
                                kara sınırı vardır. Avrupa ile birlikle Avrasya'yı, Avrupa ve Afrika kıtalarıyla
                                birlikte Eski Dünyayı oluşturur. İnsanlığın Afrika'dan çıktıktan sonra ayak bastığı ilk
                                kıta olan Asya, aynı zamanda Dünya üzerindeki birçok dinin çıkış bölgesidir. Ortadoğu
                                kökenli İslam, Hristiyanlık gibi İbrani dinler ile Hint Yarımadası kökenli Budizm ve
                                Hinduizm gibi Dharmatik dinler buna örnektir. Kuzey Kutup Dairesinden Ekvatora kadar
                                uzanan Asya Kıtası, yeryüzünün en alçak noktası olan Lut Gölü ve en yüksek noktası olan
                                Everest gibi çok farkı yeryüzü şekillerini içinde barındırır.</p>
                            <br>
                            <p class="main-menu-card-paragraf-content">Tarihçi Herodot tarafından bu terim ilk kez
                                bugünkü Salihli Ovası, sonraları da Gediz Havzası'nı nitelemek için kullanılmıştır.
                                Sardes'in zenginliklerini anlatırken bu kenti Asya'nın başkenti olarak betimlemiştir.
                                Zamanla Asya terimi önce Anadolu yarımadası sonraları ise Çin'e ve Moğolistan'a kadar
                                (Marko Polo'nun keşifleriyle) olan toprakların tamamı için kullanıldı.</p>
                            <br>
                            <p class="main-menu-card-paragraf-content">Asya'nın sınırları hakkında birçok araştırmacı
                                farklı görüşler ileri sürse de, en doğru kabul edilen sınırları; Ural Dağları, Ural
                                Nehri, Maniç Oluğu, Karadeniz, İstanbul ve Çanakkale Boğazları, Ege Denizi, Akdeniz,
                                Süveyş Kanalı ve Kızıldeniz üzerinden çekilecek bir hat oluşturur. Kıtanın en kuzeyinde,
                                Rusya'da Çelyuskin Burnu (77° 42' 55" K paraleli) yer alırken, en güneyinde, Malakka
                                Yarımadasındaki Buru Burnu (1°14'17" K paraleli) bulunur. Adaları esas aldığımız
                                takdirde, Severneya Zemlya adası (81°16'23" K paraleli) ile Endonezya'ya bağlı Rudi
                                Adaları (11°00'19" G paraleli) arasında 10.245 km'dir. Kıta doğu batı doğrultusunda;
                                Türkiye'nin anakaraya bağlı en batı ucu olan Çanakkale'nin Ayvacık ilçesi (26° 24' 17" D
                                meridyeni) ile Çukçi Yarımadasında Dejnev Burnu (169° 40' 17" D meridyeni) arasında
                                8.200 km'dir.</p>
                            <br>
                        </div>
                        <div class="menu-card">
                            <div class="menu-card-template">
                                <div class="menu-card-template-img">
                                    <img src="/resimler/ASYA/çin/pekin/pekin China.jpeg" alt="">
                                </div>
                                <div class="menu-card-template-content">
                                    <h2>Çin</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <div class="menu-card-template">
                                <div class="menu-card-template-img">
                                    <img src="/resimler/ASYA/japonya/tokyo/erik-eastman-4HG5hlhmZg8-unsplash.jpg"
                                        alt="">
                                </div>
                                <div class="menu-card-template-content">
                                    <h2>Japonya</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <div class="menu-card-template">
                                <div class="menu-card-template-img">
                                    <img src="/resimler/ASYA/Hindistan/agra/sanin-sn-p4-d9whI0Ts-unsplash.jpg" alt="">
                                </div>
                                <div class="menu-card-template-content">
                                    <h2>Hindistan</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <div class="menu-card-template">
                                <div class="menu-card-template-img">
                                    <img src="/resimler/ASYA/özbekistan/semerkant/timur-g319889ecf_1920.jpg" alt="">
                                </div>
                                <div class="menu-card-template-content">
                                    <h2>Özbekistan</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="space-around-main"></div>
                        <!--                AFRİKa   -->


                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">AFRİKA KITASI</h1> <a
                                href="http://127.0.0.1:3000/continents/afrika">
                                <div class="main-menu-header-link-div">
                                    <p>Tümü</p>
                                </div>
                            </a>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p class="main-menu-card-paragraf-content">Afrika, yüzölçümü ve nüfus yoğunluğu açısından
                                dünyanın en büyük ikinci kıtasıdır. Kendisine bitişik kabul edilen adalar ile birlikte
                                30,8 milyon km²'lik alanı ile dünya yüzölçümünün %6'sını ve dünya üzerindeki toprakların
                                %24,4'ünü kapsar. 1 milyar kişilik nüfusuyla dünya nüfusunun %15'ini barındırır. Afrika,
                                kuzeyde Akdeniz, güneyde Hint Okyanusu, batıda Atlas Okyanusu, doğuda Sina Yarımadası,
                                Kızıldeniz ve Süveyş Kanalı ile çevrelenmiştir. Madagaskar'ı ve çeşitli takımadaları
                                bünyesinde barındırır. Kıtada 54 adet diplomatik olarak tanınmış bağımsız devlet, dokuz
                                bölge ve 3 adet de sınırlı tanınmış devlet bulunur.</p>
                            <br>
                            <p class="main-menu-card-paragraf-content">Tüm kıtalar arasında en fazla genç nüfus
                                Afrika'da bulunmaktadır. Afrikalıların %50'si 19 yaşının altındadır. Cezayir yüzölçümü
                                olarak Afrikanın en büyük ülkesiyken, nüfus anlamında en büyük ülke ise Nijerya dır.
                                Özellikle Doğu Afrika'nın, insanoğlunun başlangıç noktası olduğu kabul edilir. Erken
                                dönem büyük insansı maymunların yanı sıra, geç dönemdekileri yedi milyon yıl öncesinde
                                olan Sahelanthropus tchadensis, Australopithecus africanus, A. afarensis, Homo erectus,
                                H. habilis ve H. ergaster gibi türlerin evrimleşmesiyle oluştuğu kanıtlanan Homo sapiens
                                yani modern insana dair bundan 200.000 yıl öncesine ait bulgular Etiyopya'da
                                bulunmuştur. Afrika, çok çeşitli iklim bölgeleri bulunan ekvatorun her iki yanında ve
                                dünya üzerinde her iki iklim kuşağında da bulunan tek kıtadır.</p>
                            <br>
                            <p class="main-menu-card-paragraf-content">Afrika etnik, kültür ve dil olarak çok büyük bir
                                çeşitliliğe ev sahipliği yapar. 19. yüzyıl sonlarında Avrupa ülkeleri tarafından sömürge
                                haline getirilmiştir. Afrika'nın modern devletleri 20. yüzyıldaki dekolonizasyon
                                sürecinden sonra ortaya çıkmıştır. Afrika ülkeleri kısmen 1881-1914 yıllarındaki Afrika
                                Talanı sırasında şekillenmiştir.</p>

                        </div>
                        <div class="menu-card">
                            <div class="menu-card-template">
                                <div class="menu-card-template-img">
                                    <img src="/resimler/AFRİCA/deshawn-wilson-NENohXmkXMM-unsplash.jpg" alt="">
                                </div>
                                <div class="menu-card-template-content">
                                    <h2>Africa</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <div class="menu-card-template">
                                <div class="menu-card-template-img">
                                    <img src="/resimler/AFRİCA/MISIR/Kahire/wallpaperflare.com_wallpaper (1).jpg"
                                        alt="">
                                </div>
                                <div class="menu-card-template-content">
                                    <h2>Mısır</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <div class="menu-card-template">
                                <div class="menu-card-template-img">
                                    <img src="/resimler/AFRİCA/libya/mohamed-sadiq-8ltLdEDqlkI-unsplash.jpg" alt="">
                                </div>
                                <div class="menu-card-template-content">
                                    <h2>Libya</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <div class="menu-card-template">
                                <div class="menu-card-template-img">
                                    <img src="/resimler/AFRİCA/senegal/anton-lecock-CExAylTpX4w-unsplash.jpg" alt="">
                                </div>
                                <div class="menu-card-template-content">
                                    <h2>Senegal</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="space-around-main"></div>
                        <!--                AMERİCS  -->


                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">KUZEY VE GÜNEY AMERİKA KITASI</h1> <a
                                href="http://127.0.0.1:3000/continents/amerika">
                                <div class="main-menu-header-link-div">
                                    <p>Tümü</p>
                                </div>
                            </a>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p class="main-menu-card-paragraf-content">Amerika veya Amerika Kıtası, Batı Yarımküre'de
                                Yeni Dünya olarak adlandırılan bölgede, Kuzey Amerika, Orta Amerika, Güney Amerika ve
                                bunlara bağlı adalardan meydana gelen kıtalar ve adalar topluluğu.Amerika Kıtası, Batı
                                Yarımküre'deki kara alanının çoğunu kapsar ve Yeni Dünya'yı oluşturur. Amerika sözcüğü
                                birçok dilde Amerika Birleşik Devletleri (ABD) anlamında da kullanıldığı için kavram
                                karmaşasına neden olabilmektedir.</p>
                            <br>
                            <p class="main-menu-card-paragraf-content">Yakınındaki adalarla birlikte Dünya yüzeyinin
                                %8'ini ve kara alanının %28.4'ünü barındıran Amerika'nın topoğrafyasına Amerikan
                                Kordilerası adı verilen ve kıtanın batı sahili boyunca ilerleyen uzun bir sıradağ
                                hakimdir. Amerika'nın daha düzlük olan doğu kısmınaysa Amazon, Mississippi, Río de la
                                Plata ve St. Lawrance nehirlerinin ve Büyük Göller'in havzaları hakimdir. Amerika,
                                kuzeyden güneye 14.000 km (8.700 mi) boyunca uzandığı için kıtanın iklimi ve ekolojisi
                                Kuzey Kanada, Grönland ve Alaska'daki kutup tundralarından Orta ve Güney Amerika'daki
                                Tropik yağmur ormanlarına kadar devasa çeşitlilik gösterir.</p>
                            <br>
                            <p class="main-menu-card-paragraf-content">İnsanlar, Amerika'ya ilk olarak 42 bin ilâ 17 bin
                                yıl önce Beringia'dan geçerek Asya'dan gelmiştir. Na-Dene dillerinin konuşurlarından
                                müteşekkil ikinci bir göç dalgası da aynı yoldan onları takip etmiştir. Amerika
                                yerlilerinin Amerika'ya yerleşmesinin son aşaması, genellikle MÖ 3500'de İnuitlerin
                                kutup bölgelerine yerleşmesi olarak kabul edilir.</p>
                            <br>
                        </div>
                        <div class="menu-card">
                            <div class="menu-card-template">
                                <div class="menu-card-template-img">
                                    <img src="/resimler/telefon boyut/centralpark.jpg" alt="">
                                </div>
                                <div class="menu-card-template-content">
                                    <h2>Amerika Birleşik Devletleri</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <div class="menu-card-template">
                                <div class="menu-card-template-img">
                                    <img src="/resimler/AMERİCS/Arjantin/1813067.jpg" alt="">
                                </div>
                                <div class="menu-card-template-content">
                                    <h2>Arjantin</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <div class="menu-card-template">
                                <div class="menu-card-template-img">
                                    <img src="/resimler/AMERİCS/brezilya/Rio/christ-gf5b6a9714_1920.jpg" alt="">
                                </div>
                                <div class="menu-card-template-content">
                                    <h2>Brezilya</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <div class="menu-card-template">
                                <div class="menu-card-template-img">
                                    <img src="/resimler/AMERİCS/kanada/toronto/218396.jpg" alt="">
                                </div>
                                <div class="menu-card-template-content">
                                    <h2>Kanada</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="main-ekstra">
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img">
                                <img src="/resimler/avrupa/Europe.svg" alt="">
                            </div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Avrupa</p>
                        </div>
                        <hr>
                        <div>
                            <table class="main-ekstra-tables">
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Alan</td>
                                    <td class="main-ekstra-tables-td-right">10.180,000 km²</td>
                                </tr>
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Nüfus</td>
                                    <td class="main-ekstra-tables-td-right">745,173,774 (2021)</td>
                                </tr>
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Halklar</td>
                                    <td class="main-ekstra-tables-td-right">
                                        <ul class="main-ekstra-tables-ul">
                                            <li>İngiliz</li>
                                            <li>Türk</li>
                                            <li>Alman</li>
                                            <li>Fransız</li>
                                            <li>İtalyan</li>
                                            <li>ispanyol</li>
                                            <li>Yunan</li>
                                            <li>İskandinav</li>
                                            <li>Kafkasya Halkları</li>
                                        </ul>
                                    </td>
                                </tr>

                            </table>
                        </div>

                        <hr>
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img">
                                <img src="/resimler/ASYA/Asia.svg" alt="">
                            </div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Asya</p>
                        </div>
                        <hr>
                        <div>
                            <table class="main-ekstra-tables">
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Alan</td>
                                    <td class="main-ekstra-tables-td-right">44.579.000 km²</td>
                                </tr>
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Nüfus</td>
                                    <td class="main-ekstra-tables-td-right">3.879.000.000</td>
                                </tr>
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Halklar</td>
                                    <td class="main-ekstra-tables-td-right">
                                        <ul class="main-ekstra-tables-ul">
                                            <li>Hintler</li>
                                            <li>Türk Halkları</li>
                                            <li>Çinliler</li>
                                            <li>Ermeniler</li>
                                            <li>Ruslar</li>
                                            <li>İran Halkları</li>
                                            <li>Gürcüler</li>
                                            <li>Moğollar</li>
                                            <li>Araplar</li>

                                        </ul>
                                    </td>
                                </tr>

                            </table>
                        </div>
                        <hr>
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img">
                                <img src="/resimler/AMERİCS/America.svg" alt="">
                            </div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>KUzey ve Güney Amerika</p>
                        </div>
                        <hr>
                        <div>
                            <table class="main-ekstra-tables">
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Alan</td>
                                    <td class="main-ekstra-tables-td-right">42.549.000 km²</td>
                                </tr>
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Nüfus</td>
                                    <td class="main-ekstra-tables-td-right">964.920.000</td>
                                </tr>


                            </table>
                        </div>
                        <hr>
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img">
                                <img src="/resimler/AFRİCA/Africa.svg" alt="">
                            </div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Afrika</p>
                        </div>
                        <hr>
                        <div>
                            <table class="main-ekstra-tables">
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Alan</td>
                                    <td class="main-ekstra-tables-td-right">30.370.000 km²</td>
                                </tr>
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Nüfus</td>
                                    <td class="main-ekstra-tables-td-right">1.275.920.972</td>
                                </tr>
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Halklar</td>
                                    <td class="main-ekstra-tables-td-right">
                                        <ul class="main-ekstra-tables-ul">
                                            <li>Mısırlılar</li>
                                            <li>Libyalılar</li>
                                            <li>Nijeryalılar</li>
                                            <li>Somaliler</li>
                                            <li>Sudanlılar</li>
                                            <li>Güney Afrikalılar</li>
                                            <li>Kamerunlular</li>
                                            <li>Senegalliler</li>
                                            <li>Tunuslular</li>
                                        </ul>
                                    </td>
                                </tr>

                            </table>
                        </div>
                        <hr>
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img">
                                <img src="/resimler/minimalist/Antarctica.svg" alt="">
                            </div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Antartika</p>
                        </div>
                        <hr>
                        <div>
                            <table class="main-ekstra-tables">
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Alan</td>
                                    <td class="main-ekstra-tables-td-right">14.000.000 (Buz örtülü: 13.720.000, Buz
                                        örtüsüz: 280.000) km²</td>
                                </tr>
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Nüfus</td>
                                    <td class="main-ekstra-tables-td-right">Kalıcı nüfus: 0 (2014)
                                        Geçici Nüfus: ~ 5.000</td>
                                </tr>


                            </table>
                        </div>
                        <hr>
                    </div>


                </div>







            </main>


            <section class="section-container">
                <p class="section-paragraf"><a href="#" class="section-links">Göbekli tepe</a></p>
                <p class="section-paragraf"><a href="#" class="section-links">İstanbul'da gezilebilecek popüler
                        mekanlar</a></p>
                <p class="section-paragraf"><a href="#" class="section-links">Almanya</a></p>
            </section>



            <!--footer-->
            <footer>
                <div class="footer-container">
                    <div class="social-icon">
                        <a title="Facebook" href="https://www.facebook.com/emin.aldas.37/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a title="Instagram" href="https://www.instagram.com/emin.alds/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a title="Twitter" href="https://twitter.com/AldsEmin" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a title="Youtube" href="https://www.youtube.com/channel/UCk1xreJb2dm-wes0-APkxKA"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                        <a title="Github" href="https://github.com/eminaldas" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a title="Discord" href="discordapp.com/users/Muhammed Emin Aldaş#3369"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-discord"></i></a>
                    </div>
                    <div class="footer-navbar">
                        <ul class="footer-navbar-ul">
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000" class="footer-navbar-a"
                                    title="Home">Home</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/aboutUs"
                                    class="footer-navbar-a">About us</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/others"
                                    class="footer-navbar-a">Others</a></li>
                        </ul>
                    </div>
                    <div class="fotter-text">
                        <p>Copyright &copy;2023; Designed By <span class="footer-desinger">Muhammed Emin Aldas</span>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/slider.js"></script>
</body>

</html>