<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aldasland | Louvre Müzesi</title>
    <link rel="icon" type="image/x-icon" href="/resimler/Yeni klasör/avianex.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/4.2.louvre.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>

<body>
    <div id="progress">
        <span id="progress-value"><i class="fa-solid fa-chevron-up"></i></span>
    </div>
    <div class="body">
        <div class="container">
            <header class="nav">
                <div class="navbar">
                    <div class="navbar-logo"><a href="http://127.0.0.1:3000" class="logo-menu"><i
                                class="fa-brands fa-avianex fa-2xl" title="AldasLand"></i></a></div>
                    <div class="navbar-menu">
                        <ul class="navigation">
                            <li class="nav-text"><a href="http://127.0.0.1:3000" class="menu-item">Anasayfa</a></li>

                            <div class="dropdown">
                                <div class="select">
                                    <span class="selected">Ülkeler</span>
                                    <div class="caret"></div>
                                </div>
                                <ul class="drop">
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/avrupa"
                                            class="dropdown-text">Avrupa</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/asya"
                                            class="dropdown-text">Asya</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/afrika"
                                            class="dropdown-text">Afrika</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/amerika"
                                            class="dropdown-text">Amerika</a></li>

                                </ul>
                            </div>

                            <li class="nav-text"><a href="http://127.0.0.1:3000/continents"
                                    class="menu-item">Kıtalar</a></li>
                                    <li class="nav-text"><a href="http://127.0.0.1:3000/GeziTurSign"
                                        class="menu-item">Kayıt ol</a></li>

                        </ul>

                    </div>
                    <div class="navbar-login">
                        <a href="http://127.0.0.1:3000/GeziturLog" blank="_leave" class="login"><i
                                class="fa-solid fa-user-tie fa-2xl" title="Log-in"></i></a>

                    </div>
                </div>
                <img src="/adobe/header8.png" alt="">
            </header>
            <!--main kısmı-->


            <main class="main">



                <div class="main-container">

                    <div class="main-search">

                        <form action="https://www.google.com/search" method="get" class="search-form">
                            <div class="google-search">
                                <script async src="https://cse.google.com/cse.js?cx=51e502db8d6ef437e">
                                </script>
                                <div class="gcse-searchbox-only"></div>
                            </div>
                        </form>


                    </div>

                    <div class="main-menu">
                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">Paris - Louvre Müzesi</h1>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Louvre Müzesi (Fransızca: Musée du Louvre), dünyanın en büyük sanat müzesidir. Fransa'nın
                                başkenti Paris'te, Louvre Sarayı'na kurulmuştur. Şehrin içinden geçen Sen Nehri'nin
                                kıyısında yer alır. Tarih öncesi çağlardan, 21. yüzyıla kadar uzanan, oldukça geniş bir
                                koleksiyon yelpazesi vardır. Yaklaşık 35.000 kadar tarihî sanat eseri, 72.735
                                metrekarelik bir alanda sergilenmektedir. 2017 yılında, 8,1 milyon ziyaretçi oranıyla
                                dünyanın en çok ziyaret edilen sanat müzesi seçilmiştir.</p>
                            <br>
                            <p>Sadece içeriğiyle değil, içine kurulmuş olduğu tarihî yapıyla da oldukça önem taşıyan
                                müzenin binası; 12. yüzyılın sonları ile 13. yüzyılın başları arasında dönemin kralı II.
                                Philippe tarafından kale olarak yaptırılmış fakat şehrin hızla gelişip kale sınırlarını
                                aşması sonucunda yapı savunma özelliğini kaybettiği için 1546 yılında I. François'nın
                                emriyle Fransız krallarının resmî konutu olarak kullanılması adına saraya çevrilmiştir.
                                Bugün müzenin bodrum katında hâlâ kalenin kalıntılarından izler görülebilir.
                                Defalarca genişletme çalışmaları geçirdikten sonra nihayetinde 1682 yılında XIV.
                                Louis'nin Versay Sarayı'na taşınma kararı vermesiyle beraber Louvre, aralarında Yunan ve
                                Roma medeniyetlerinden kalma önemli eserlerin de bulunduğu kraliyet koleksiyonunun
                                sergilenmeye başladığı, müze olmayan ama aynı işlevi gören bir yer hâline gelmiştir.
                                Bu bağlamda yaklaşık 10 yıl kadar kullanıldıktan sonra 1692 yılında kraliyet adına
                                kurulmuş olan edebiyat ve heykeltıraşlık okulları buraya taşınmış ve 100 yıl boyunca
                                burada eğitime devam etmişlerdir. Fransız Devrimi sırasında kurulan ulusal meclis,
                                Louvre'un Fransız sanatının eserlerinin sergilendiği bir müze olarak kullanılması
                                gerekliliğine karar verdiği için tekrar müzeye çevrilmiştir.</p>
                            <br>
                            <p>10 Ağustos 1793 tarihinde, 537 parçadan oluşan ve çoğu kraliyet ailesi ile kiliseye ait
                                olan bir resim koleksiyonu ile açılan müze, binanın bu amaca yönelik inşa edilmemiş
                                olmasından dolayı mimari açıdan sıkıntılar yaşamış ve 1796-1801 yılları arasında kapalı
                                kalmıştır. Napolyon Bonapart devrinde içerik açısından iyice zenginleştirilen müze bir
                                dönem Musée Napoléon (Napolyon Müzesi) olarak da adlandırılmış fakat Fransız ordusunun
                                işgal ettiği yerlerden çekilmesi sonucunda yurt dışından etik olmayan yollarla kaçırılan
                                bu eserler asıl sahiplerine iade edilmiştir. Yine de XVIII. Louis, X. Charles ve İkinci
                                Fransız İmparatorluğu devirlerinde büyümesini sürdüren müzenin koleksiyonuna 20.000 yeni
                                eser ilave edilmiştir. Üçüncü Fransız Cumhuriyeti döneminde de satın almalar ve yapılan
                                bağışlar yoluyla içerik sayısı artış göstermiştir. Bugün müzenin sahip olduğu tüm sanat
                                koleksiyonu sekiz ayrı başlığa göre ayrılmış durumdadır ve bu düzene göre sergilenmeye
                                devam etmektedir.
                            </p>
                            <br>
                            
                           


                        </div>





                        <div class="main-menu-header-div">
                            <h1 class="galeri-header">galeri</h1>
                        </div>
                        <div class="galeri">
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/France/paris/pexels-tommy-milanese-2704910.jpg"><img
                                        src="/resimler/avrupa/France/paris/pexels-tommy-milanese-2704910.jpg" alt=""></a>
                            </div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/France/paris/pexels-lahbabi-abdel-10906311.jpg"><img
                                        src="/resimler/avrupa/France/paris/pexels-lahbabi-abdel-10906311.jpg"
                                        alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/France/paris/pexels-guillaume-meurice-2739078.jpg"><img
                                        src="/resimler/avrupa/France/paris/pexels-guillaume-meurice-2739078.jpg" alt=""></a>
                            </div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/France/paris/pexels-lina-kivaka-3989816.jpg"><img
                                        src="/resimler/avrupa/France/paris/pexels-lina-kivaka-3989816.jpg"
                                        alt=""></a></div>
                        </div>


                    </div>
                    <div class="main-ekstra">
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/France/paris/louvrekonum.png"><img
                                        src="/resimler/avrupa/France/paris/louvrekonum.png" alt=""></a>
                            </div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Louvre Müzesi konumu</p>
                        </div>
                        <hr>
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/France/paris/Louvre_Museum_Wikimedia_Commons.jpg"><img
                                        src="/resimler/avrupa/France/paris/Louvre_Museum_Wikimedia_Commons.jpg"
                                        alt=""></a></div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Louvre Müzesi</p>
                        </div>
                        <hr>



                    </div>

                </div>


            </main>




            <section class="section-container">
                <p class="section-paragraf"><a href="#" class="section-links">Küba</a></p>
                <p class="section-paragraf"><a href="#" class="section-links">1234</a></p>
                <p class="section-paragraf"><a href="http://127.0.0.1:3000/continents/newyork/centralpark"
                        class="section-links">centralpark</a></p>
            </section>




            <!--footer-->
            <footer>
                <div class="footer-container">
                    <div class="social-icon">
                        <a title="Facebook" href="https://www.facebook.com/emin.aldas.37/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a title="Instagram" href="https://www.instagram.com/emin.alds/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a title="Twitter" href="https://twitter.com/AldsEmin" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a title="Youtube" href="https://www.youtube.com/channel/UCk1xreJb2dm-wes0-APkxKA"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                        <a title="Github" href="https://github.com/eminaldas" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a title="Discord" href="discordapp.com/users/Muhammed Emin Aldaş#3369"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-discord"></i></a>
                    </div>
                    <div class="footer-navbar">
                        <ul class="footer-navbar-ul">
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000" class="footer-navbar-a"
                                    title="Home">Home</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/aboutUs"
                                    class="footer-navbar-a">About us</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/others"
                                    class="footer-navbar-a">Others</a></li>
                        </ul>
                    </div>
                    <div class="fotter-text">
                        <p>Copyright &copy;2023; Designed By <span class="footer-desinger">Muhammed Emin Aldas</span>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/slider.js"></script>
</body>

</html>