<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aldasland | Paris</title>
    <link rel="icon" type="image/x-icon" href="/resimler/Yeni klasör/avianex.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/4.paris.css">
    <link rel="stylesheet" href="/css/navbar.css">

</head>

<body>
    <div id="progress">
        <span id="progress-value"><i class="fa-solid fa-chevron-up"></i></span>
    </div>
    <div class="body">
        <div class="container">
            <header class="nav">
                <div class="navbar">
                    <div class="navbar-logo"><a href="http://127.0.0.1:3000" class="logo-menu"><i
                                class="fa-brands fa-avianex fa-2xl" title="AldasLand"></i></a></div>
                    <div class="navbar-menu">
                        <ul class="navigation">
                            <li class="nav-text"><a href="http://127.0.0.1:3000" class="menu-item">Anasayfa</a></li>

                            <div class="dropdown">
                                <div class="select">
                                    <span class="selected">Ülkeler</span>
                                    <div class="caret"></div>
                                </div>
                                <ul class="drop">
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/avrupa"
                                            class="dropdown-text">Avrupa</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/asya"
                                            class="dropdown-text">Asya</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/afrika"
                                            class="dropdown-text">Afrika</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/amerika"
                                            class="dropdown-text">Amerika</a></li>

                                </ul>
                            </div>

                            <li class="nav-text"><a href="http://127.0.0.1:3000/continents"
                                    class="menu-item">Kıtalar</a></li>
                                    <li class="nav-text"><a href="http://127.0.0.1:3000/GeziTurSign"
                                        class="menu-item">Kayıt ol</a></li>

                        </ul>

                    </div>
                    <div class="navbar-login">
                        <a href="http://127.0.0.1:3000/GeziturLog" blank="_leave" class="login"><i
                                class="fa-solid fa-user-tie fa-2xl" title="Log-in"></i></a>

                    </div>
                </div>
                <img src="/adobe/header8.png" alt="">
            </header>
            <!--main kısmı-->


            <main class="main">



                <div class="main-container">

                    <div class="main-search">

                        <form action="https://www.google.com/search" method="get" class="search-form">
                            <div class="google-search">
                                <script async src="https://cse.google.com/cse.js?cx=51e502db8d6ef437e">
                                </script>
                                <div class="gcse-searchbox-only"></div>
                            </div>
                        </form>


                    </div>

                    <div class="main-menu">
                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">Paris</h1>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Paris, Fransa'nın başkenti ve 105 kilometrekare (41 milkare)'den fazla alanda 2,175,601
                                (2018 itibarıyla tahmini nüfus) nüfusu ile en kalabalık şehridir. 17. yüzyıldan beri
                                Paris Avrupa'nın en önemli finans, diplomasi, ticaret, moda, gastronomi, bilim ve sanat
                                merkezlerindendir.</p><br>

                            <p>Paris şehri tahmini 12,174,880 nüfusu ile veya Fransa nüfusunun yaklaşık yüzde 18'i ile
                                (2017 itibarıyla) Paris Bölgesi'nin veya Île-de-France bölgesinin yönetim merkezidir.
                                Paris Bölgesinin 2017'de 709 milyar € (808 milyar $) GSYİH'sı vardı.</p><br>

                            <p>Economist Intelligence Unit'in 2018'deki Dünya Çapında Yaşam Maliyeti Anketine göre
                                Paris, Zürih, Hong Kong, Oslo ve Cenevre'nin önünde ve Singapur'dan sonra dünyanın en
                                pahalı ikinci şehriydi.[4] Başka bir kaynaksa Paris'i 2018'de Singapur ve Hong Kong ile
                                eşit derecede en pahalı olarak sıraladı.

                                Paris, iki uluslararası havalimanı tarafından hizmet verilen önemli bir demiryolu,
                                otoyol ve hava taşımacılığı merkezidir: Paris-Charles de Gaulle (Avrupa'nın en yoğun
                                ikinci havalimanıdır) ve Paris-Orly.</p><br>

                            <p>1900 yılında açılan şehrin metro sistemi Paris metrosu günde 5.23 milyon yolcuya hizmet
                                verir; Avrupa'nın Moskova Metrosu'ndan sonra en yoğun ikinci metro sistemidir. Gare
                                du Nord dünyanın en yoğun 24. tren istasyonudur ancak 2015 yılında 262 milyon yolcu ile
                                Japonya dışında bulunan en yoğun tren istasyondu.</p><br>

                            <p>Paris özellikle müzeleri ve mimari simgeleriyle tanınır: Louvre, COVID-19 virüsünün neden
                                olduğu uzun müze kapanışlarına rağmen 2021'de 2.8 milyon ziyaretçi aldı.
                            </p><br>
                            <p>Musée d'Orsay, Musée Marmottan Monet ve Musée de l'Orangerie, Fransız Empresyonist sanat
                                koleksiyonlarıyla tanınır. Pompidou Merkezi Musée National d'Art Moderne, Avrupa'daki en
                                büyük modern ve çağdaş sanat koleksiyonuna sahiptir. Musée Rodin ve Musée Picasso iki
                                ünlü Parisli'nin eserlerini sergiler.</p><br>
                            <p>Şehir merkezindeki Sen Nehri boyunca uzanan tarihi bölge, 1991'den beri UNESCO Dünya
                                Miras Alanı olarak sınıflandırılmıştır; orada görülecek popüler yerler arasında Île de
                                la Cité üzerindeki Notre Dame de Paris Katedrali vardır halen 15 Nisan 2019 yangını'ndan
                                sonra yenileme çalışmaları nedeniyle kapalıdır. Diğer popüler turistik yerler arasında
                                yine Île de la Cité'de bulunan Sainte-Chapelle'in Gotik kraliyet şapeli; 1889 Paris
                                Evrensel Sergisi için inşa edilen Eyfel Kulesi; 1900 Paris Evrensel Sergisi için
                                inşa edilen Grand Palais ve Petit Palais; Champs-Élysées üzerindeki Arc de Triomphe ve
                                sanat tarihiyle ve Sacré-Coeur Bazilikası ile Montmartre tepesi vardır.</p><br>

                            <p>Paris, COVID-19 virüsü nedeniyle 2019'a göre yüzde 73 düşüşle otel konaklamalarıyla
                                ölçülen 2020'de 12.6 milyon ziyaretçi aldı. Yabancı ziyaretçi sayısı yüzde 80.7
                                azaldı. Müzeler, bir seferde ziyaretçi sayısında sınırlamalar ve ziyaretçilerin
                                maske takma zorunluluğu ile 2021'de yeniden açıldı.</p><br>

                            <p>Futbol kulübü Paris Saint-Germain ve Ragbi birliği kulübü Stade Français Paris'tedir.
                                1998 FIFA Dünya Kupası için inşa edilen 80,000 kişilik Fransa Stadyumu, Paris'in hemen
                                kuzeyinde, komşu Saint-Denis komünündedir. Paris, Roland Garros'un kırmızı kili üzerinde
                                her yıl düzenlenen Fransa Açık Grand Slam tennis turnuvasına ev sahipliği yapar. Şehir
                                1900, 1924 Olimpiyat Oyunlarına ev sahipliği yaptı ve 2024 Yaz Olimpiyatları'na da ev
                                sahipliği yapacaktır. 1938 ve 1998 FIFA Dünya Kupası'ları, 2007 Rugby World Cup ve 1960,
                                1984 ve 2016 UEFA Avrupa Şampiyonası da kentte yapıldı. Her Temmuz, Fransa Bisiklet Turu
                                bisiklet yarışı Paris'teki Avenue des Champs-Élysées'de biter.</p><br>

                            <p>Paris Sen Nehri'nin üzerine, Paris Havzası'nın ortasına kurulmuştur. Paris'te ikamet
                                edenlere Parisien(ne) diye hitap edilir. Tüm dünyada anıtları, sanatsal ve kültürel
                                yaşamı ile bilinen ve dünya tarihinde önemli bir yeri olan Paris, başlıca ekonomik ve
                                politik merkezler arasında yer almakta ve uluslararası taşımacılığın geçiş noktalarından
                                birini oluşturmaktadır. Moda ve lüksün dünya başkenti olan Paris, "Işık Şehir" (Ville
                                Lumière) diye de anılmaktadır.</p><br>

                            <p>Paris şehrinin özlü sözü Latince "Fluctuat nec mergitur" yani "Sallanır ama batmaz"
                                (Fransızca: « Il est battu par les flots sans être submergé »). Şehrin armasındaki
                                "Scilicet" yani gemiyi anlatmak için kullanılır. Bu gemi Orta Çağ'da şehri yöneten güçlü
                                "Gemiciler" (Nautes) ya da "Su tüccarları"nın kurduğu birliği sembolize eder. Şehrin
                                koruyucusu, 5. yüzyılda Attila'yı şehri yıkmaması için ikna ettiğine inanılan Azize
                                Geneviève'dir.</p><br>

                        </div>
                        <div class="main-menu-header-div">
                            <h2 class="main-menu-header-content">İKLİM</h2>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Paris, Kuzey Atlantik Akıntısından etkilenen tipik bir Batı Avrupa okyanusal iklimine
                                sahiptir. Yıl boyunca genel iklim ılıman ve orta derecede yağışlıdır.
                                Yaz günleri, ortalama sıcaklıkları 15 ila 25 °C (59 ve 77 °F) ve yeterli miktarda güneş
                                ışığı ile genellikle sıcaktır. Bununla birlikte, her yıl, sıcaklığın 32 °C'nin (90 °F)
                                üzerine çıktığı birkaç gün vardır. Sıcaklıkların haftalarca 30 °C'yi (86 °F) aştığı,
                                bazı günlerde 40 °C'ye (104 °F) ulaştığı ve geceleri nadiren soğuduğu 2003 ısı dalgası
                                gibi daha uzun süreli daha yoğun ısı bazen meydana gelir. İlkbahar ve sonbaharda
                                ortalama olarak ılıman günler ve taze geceler vardır, ancak bunlar değişken ve
                                istikrarsızdır. Şaşırtıcı derecede sıcak veya soğuk hava her iki mevsimde de sıklıkla
                                görülür. Kışın güneş ışığı azdır; günler serin ve geceler soğuk ama genellikle 3 °C
                                (37 °F) civarında düşük sıcaklıklarla donma noktasının üzerindedir. Ancak hafif gece
                                donları oldukça yaygındır, ancak sıcaklık nadiren -5 °C'nin (23 °F) altına düşer. Kar
                                her yıl yağar, ancak nadiren yerde kalır. Şehir bazen birikmiş veya birikmemiş hafif kar
                                veya sağanak yağışlar görür.</p><br>

                            <p>Paris'te yıllık ortalama 641 mm (25,2 inç) yağış vardır ve yıl boyunca eşit olarak
                                dağıtılan hafif yağışlar görülür. Bununla birlikte, şehir aralıklı, ani, şiddetli
                                sağanak yağışlarla tanınır. Kaydedilen en yüksek sıcaklık 25 Temmuz 2019'da 42,6 °C
                                (108,7 °F) ve en düşük sıcaklık 10 Aralık 1879'da -23.9 °C (-11,0 °F) idi.</p><br>


                        </div>
                        <div class="main-menu-header-div">
                            <h2 class="main-menu-header-content">ALIŞVERİŞ</h2>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Yirminci yüzyılın başında Paris, dünyanın en büyük Katolik şehriydi. Fransız nüfus
                                sayımı verileri, dini mensubiyet hakkında bilgi içermiyor. Bir Fransız kamuoyu
                                araştırma kuruluşu olan Institut français d'opinion publique (IFOP) tarafından 2011
                                yılında yapılan bir ankete göre, Paris Bölgesi (Île-de-France) sakinlerinin yüzde 61'i
                                kendilerini Roma Katolik olarak tanımladı. Aynı ankette, sakinlerin yüzde 7'si
                                kendilerini Müslüman, yüzde 4'ü Protestan, yüzde 2'si Yahudi ve yüzde 25'i dinsiz olarak
                                tanımladı.</p>
                            <br>

                        </div>
                        
                       
                        <div class="main-menu-header-div">
                            <h2 class="main-menu-header-content">TURİZM</h2>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Paris Mastercard'ın 2016 yılı verilerine göre yaklaşık 18 milyon turistle Avrupa'nın en
                                çok ziyaret edilen 2. Dünya'nın ise en çok ziyaret edilen 3. şehri olmuştur. 2016
                                yılında turistler Paris'de yaklaşık 13 milyar Amerikan Doları harcamıştır.</p>
                            <br>



                        </div>
                        <div class="main-menu-header-div">
                            <h2 class="main-menu-header-content">ULAŞIM</h2>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Paris, önemli bir demiryolu, karayolu ve hava taşımacılığı merkezidir. Île-de-France
                                Mobilités (IDFM), eski adıyla Syndicat des transports d'Île-de-France (STIF) ve bundan
                                önce Syndicat des transports parisiens (STP), bölgedeki toplu taşıma ağını denetler.
                                Sendika toplu taşımayı koordine eder ve bunu RATP'ye (347 otobüs hattını, Metro'yu,
                                sekiz tramvay hattını ve RER'nin bölümlerini işletir), SNCF'ye (banliyö raylarını, bir
                                tramvay hattını ve şehrin diğer bölümlerini işletir) ihale eder. ve 1.176 otobüs
                                hattını yöneten özel operatörlerden oluşan Optile konsorsiyumu.</p>
                        </div>
                        <div class="main-menu-slider-container">
                            <div class="slider">
                                <div class="slides">

                                    <input type="radio" name="radio-btn" id="radio1">
                                    <input type="radio" name="radio-btn" id="radio2">
                                    <input type="radio" name="radio-btn" id="radio4">
                                    <input type="radio" name="radio-btn" id="radio3">


                                    <div class="slide first">
                                        <div class="slide-content">
                                            <h1>Eyfel Kulesi</h1>
                                        </div>
                                        <a href="http://127.0.0.1:3000/continents/avrupa/paris/eyfel"> <img
                                                src="/resimler/avrupa/France/paris/pexels-mehmet-turgut-kirkgoz-5312109.jpg"
                                                alt=""></a>
                                    </div>
                                    <div class="slide">
                                        <div class="slide-content">
                                            <h1>Louvre Müzesi</h1>
                                        </div>
                                        <a href="http://127.0.0.1:3000/continents/avrupa/paris/Louvre"><img
                                                src="/resimler/avrupa/France/paris/wallpaperflare.com_wallpaper.jpg" alt=""></a>
                                    </div>
                                    <div class="slide">
                                        <div class="slide-content">
                                            <h1>Notre Dame Katedrali</h1>
                                        </div>
                                        <a href="http://127.0.0.1:3000/continents/avrupa/paris/eyfel"><img
                                                src="/resimler/avrupa/France/paris/wp3527691-notre-dame-cathedral-wallpaper.jpg"
                                                alt=""></a>
                                    </div>
                                    <div class="slide">
                                        <div class="slide-content">
                                            <h1>Église de la Madeleine</h1>
                                        </div>
                                        <div class="slide-content-img">
                                            <a href="http://127.0.0.1:3000/continents/avrupa/paris/eyfel"><img
                                                    src="/resimler/avrupa/France/paris/indir.jpeg"
                                                    alt=""></a>
                                        </div>

                                    </div>


                                    <div class="navigation-auto">
                                        <div class="auto-btn1"></div>
                                        <div class="auto-btn2"></div>
                                        <div class="auto-btn3"></div>
                                        <div class="auto-btn4"></div>
                                    </div>

                                </div>
                                <div class="navigation-manual">
                                    <label for="radio1" class="manual-btn"></label>
                                    <label for="radio2" class="manual-btn"></label>
                                    <label for="radio3" class="manual-btn"></label>
                                    <label for="radio4" class="manual-btn"></label>
                                </div>
                            </div>

                        </div>




                    </div>
                    <div class="main-ekstra">
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img">
                                <img src="/resimler/avrupa/France/paris/France_location_map.svg" alt="">
                            </div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Paris'in Fransadaki konumu</p>
                        </div>
                        <hr>
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img">
                                <img src="/resimler/avrupa/France/paris/Flag_of_Paris_with_coat_of_arms.svg" alt="">
                            </div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Paris bayrağı</p>
                        </div>
                        <hr>
                       
                        <hr>
                        <div>
                            <table class="main-ekstra-tables">

                               
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Yüzölçümü</td>
                                    <td class="main-ekstra-tables-td-right">105,4 km² (40,6 mil²)</td>
                                </tr>
                                <tr>
                                    <td class="main-ekstra-tables-td-left">nüfus</td>
                                    <td class="main-ekstra-tables-td-right">2.140.526</td>
                                </tr>
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Yoğunluk</td>
                                    <td class="main-ekstra-tables-td-right">	20.000/km² (52.000/mil²)</td>
                                </tr>
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Başkanı</td>
                                    <td class="main-ekstra-tables-td-right"><a
                                            href="https://tr.wikipedia.org/wiki/Anne_Hidalgo"
                                            target="_blank">Anne Hidalgo</a></td>
                                </tr>
                            </table>

                        </div>
                        <hr>

                    </div>

                </div>


            </main>




            <section class="section-container">
                <p class="section-paragraf"><a href="#" class="section-links">Küba</a></p>
                <p class="section-paragraf"><a href="#" class="section-links"></a></p>
                <p class="section-paragraf"><a href="#" class="section-links">centralpark</a></p>
            </section>




            <!--footer-->
            <footer>
                <div class="footer-container">
                    <div class="social-icon">
                        <a title="Facebook" href="https://www.facebook.com/emin.aldas.37/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a title="Instagram" href="https://www.instagram.com/emin.alds/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a title="Twitter" href="https://twitter.com/AldsEmin" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a title="Youtube" href="https://www.youtube.com/channel/UCk1xreJb2dm-wes0-APkxKA"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                        <a title="Github" href="https://github.com/eminaldas" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a title="Discord" href="discordapp.com/users/Muhammed Emin Aldaş#3369"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-discord"></i></a>
                    </div>
                    <div class="footer-navbar">
                        <ul class="footer-navbar-ul">
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000" class="footer-navbar-a"
                                    title="Home">Home</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/aboutUs"
                                    class="footer-navbar-a">About us</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/others"
                                    class="footer-navbar-a">Others</a></li>
                        </ul>
                    </div>
                    <div class="fotter-text">
                        <p>Copyright &copy;2023; Designed By <span class="footer-desinger">Muhammed Emin Aldas</span>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/slider.js"></script>
</body>

</html>