<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aldasland | Sultanahmet</title>
    <link rel="icon" type="image/x-icon" href="/resimler/Yeni klasör/avianex.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/3.2.Sultanahmet.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>

<body>
    <div id="progress">
        <span id="progress-value"><i class="fa-solid fa-chevron-up"></i></span>
    </div>
    <div class="body">
        <div class="container">
            <header class="nav">
                <div class="navbar">
                    <div class="navbar-logo"><a href="http://127.0.0.1:3000" class="logo-menu"><i
                                class="fa-brands fa-avianex fa-2xl" title="AldasLand"></i></a></div>
                    <div class="navbar-menu">
                        <ul class="navigation">
                            <li class="nav-text"><a href="http://127.0.0.1:3000" class="menu-item">Anasayfa</a></li>

                            <div class="dropdown">
                                <div class="select">
                                    <span class="selected">Ülkeler</span>
                                    <div class="caret"></div>
                                </div>
                                <ul class="drop">
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/avrupa"
                                            class="dropdown-text">Avrupa</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/asya"
                                            class="dropdown-text">Asya</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/afrika"
                                            class="dropdown-text">Afrika</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/amerika"
                                            class="dropdown-text">Amerika</a></li>

                                </ul>
                            </div>

                            <li class="nav-text"><a href="http://127.0.0.1:3000/continents"
                                    class="menu-item">Kıtalar</a></li>
                                    <li class="nav-text"><a href="http://127.0.0.1:3000/GeziTurSign"
                                        class="menu-item">Kayıt ol</a></li>

                        </ul>

                    </div>
                    <div class="navbar-login">
                        <a href="http://127.0.0.1:3000/GeziturLog" blank="_leave" class="login"><i
                                class="fa-solid fa-user-tie fa-2xl" title="Log-in"></i></a>

                    </div>
                </div>
                <img src="/adobe/header2.png" alt="">
            </header>
            <!--main kısmı-->


            <main class="main">



                <div class="main-container">

                    <div class="main-search">

                        <form action="https://www.google.com/search" method="get" class="search-form">
                            <div class="google-search">
                                <script async src="https://cse.google.com/cse.js?cx=51e502db8d6ef437e">
                                </script>
                                <div class="gcse-searchbox-only"></div>
                            </div>
                        </form>


                    </div>

                    <div class="main-menu">
                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">İstanbul - Sultanahmet Cami</h1>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p></p>
                            <br>
                            <p>Aslında Sultanahmet Camii külliyesiyle birlikte, İstanbul’daki en büyük eserlerden
                                biridir. Bu külliye bir cami, medreseler, hünkar kasrı, arasta, dükkânlar, hamam, çeşme,
                                sebiller, türbe, darüşşifa, sıbyan mektebi, imarethane ve kiralık odalardan
                                oluşmaktadır. Bu yapıların bir kısmı günümüze ulaşamamıştır.</p>
                            <br>
                            <p>Yapının mimari ve sanatsal açıdan dikkate şayan en önemli yanı, 20.000'i aşkın İznik
                                çinisiyle bezenmesidir. Bu çinilerin süslemelerinde sarı ve mavi tonlardaki
                                geleneksel bitki motifleri kullanılmış, yapıyı sadece bir ibadethane olmaktan öteye
                                taşımıştır. Caminin ibadethane bölümü 64 x 72 metre boyutlarındadır. 43 metre
                                yüksekliğindeki merkezi kubbesinin çapı 23,5 metredir. Caminin içi 200'den fazla renkli
                                cam ile aydınlatılmıştır.[ Yazıları Diyarbakırlı Seyyid Kasım Gubarî tarafından
                                yazılmıştır. Çevresindeki yapılarla birlikte bir külliye oluşturur ve Sultanahmet,
                                Türkiye'nin altı minareli ilk camiidir.</p>
                            <br>

                        </div>

                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">Mimari özellikleri</h1>
                        </div>
                        <div class="main-menu-card-paragraf-div sultan-div">

                            <div class="sultan-paragraf">

                                <p>Sultan Ahmet Camii'nin tasarımı Osmanlı cami mimarisi ile Bizans kilise mimarisinin
                                    200 yıllık sentezinin zirvesini oluşturur. Komşusu olan Ayasofya'dan bazı Bizans
                                    esintileri içermesinin yanı sıra geleneksel İslami mimari de ağır basar ve klasik
                                    dönemin son büyük camisi olarak görülür. Caminin mimarı, Mimar Sedefkar Mehmet
                                    Ağa'nın "boyutta büyüklük, heybet ve ihtişam" fikirlerini yansıtmada başarılı
                                    olmuştur.</p>
                                <br>
                            </div>
                            <div class="sultan-paragraf">
                                <h1>Dış</h1>
                                <br>
                                <p>
                                    Köşe kubbelerin üstündeki küçük kulelerin eklenmesi dışında, geniş ön avlunun
                                    cephesi Süleymaniye Camii'nin cephesiyle aynı tarzda yapılmıştır. Avlu neredeyse
                                    caminin kendisi kadar geniştir ve kesintisiz bir kemeraltıyla çevrilmiştir. Her iki
                                    tarafında abdesthaneler vardır. Ortadaki büyük altıgen fıskiye avlunun boyutları göz
                                    önüne alındığında küçük kalır. Avluya doğru açılan dar anıtsal geçit kemeraltından
                                    mimari olarak farklı durur. Yarım kubbesi kendinden daha küçük çıkıntılı bir kubbe
                                    ile taçlandırılmış ve ince sarkıt bir yapıya sahiptir.
                                </p>
                                <br>
                            </div>

                            <div class="sultan-paragraf">
                                <h1>İç</h1>
                                <p>Her katında alçak düzeyde olmak üzere, caminin içi İznik'te 50 farklı lale deseninden
                                    üretilmiş 20 binden fazla çini ile bezenmiştir. Alt seviyelerdeki çiniler
                                    gelenekselken, galerideki çinilerin desenleri çiçekler, meyveler ve servilerle
                                    gösterişli ve ihtişamlıdır. 20 binden fazla çini İznik'te çini ustası Kasap Hacı ve
                                    Kapadokyalı Barış Efendi'nin yönetiminde üretilmiştir. Her çini başına ödenecek
                                    tutar sultanın emriyle düzenlense de çini fiyatı zamanla artmış, bunun sonucunda
                                    kullanılan çinilerin kalitesi zamanla azalmıştır. Renkleri solmuş ve cilaları
                                    sönükleşmiştir. Arka balkon duvarındaki çiniler 1574'teki yangında zarar gören
                                    Topkapı Sarayı'nın hareminden geri dönüştürülen çinilerdir.
                                </p>
                                <br>
                            </div>
                            <div class="sultan-img"><img src="/resimler/avrupa/türkiye/İstanbul/ahmet.jpg" alt=""></div>
                            <div class="sultan-paragraf">
                                <p>İç kısmın daha yükseklerine mavi boya hakimdir, fakat düşük kalitelidir. 200'den
                                    fazla karışık leke desenli cam doğal ışığı geçirir, bugün avizelerle
                                    desteklenmişlerdir. Avizelerde deve kuşu yumurtası kullanımının örümcekleri uzak
                                    tuttuğunun keşfedilmesi örümcek ağlarının oluşumunu engellemiştir. Kur'an'dan sözler
                                    içeren hat dekorasyonlarının çoğu zamanın en büyük hat sanatçısı Seyid Kasım Gubari
                                    tarafından yapılmıştır. Yerler yardımsever insanlarca eskidikçe yenilenen halılarla
                                    kaplıdır. Pek çok büyük pencere geniş ve ferah bir ortam hissi vermektedir. Zemin
                                    kattaki açılır pencereler "opus sectile" adı verilen bir döşeme şekliyle dekore
                                    edilmiştir. Her kavisli bölüm bazıları ışık geçirmeyen 5 pencereye sahiptir. Her
                                    yarım kubbe 14 pencereye ve merkez kubbe 4'ü kör olmak üzere 28 pencereye sahiptir.
                                    Pencereler için renkli camlar Venedik sinyorundan sultana hediyedir. Bu renkli
                                    camların çoğu bugün sanatsal değeri olmayan modern versiyonlarıyla değiştirilmiştir.
                                </p>
                                <br>
                                <p>Caminin içindeki en önemli unsur ince işçilikle oyulmuş ve yontulmuş mermerden
                                    yapılma mihraptır. Bitişik duvarlar seramik çinilerle kaplanmıştır. Fakat
                                    çevresindeki çok sayıda pencere onu daha az ihtişamlı gösterir. Mihrabın sağında
                                    zengin dekore edilmiş minber bulunur. Cami en kalabalık halinde dahi olsa herkesin
                                    imamı duyabileceği şekilde tasarlanmıştır.</p>
                                <br>
                                <p>Sultan mahfili güneydoğu köşesindedir. Bir platform, iki küçük dinlenme odası ve
                                    sundurmadan oluşur ve padişahın güneydoğu üst galerideki locasına geçişi bulunur. Bu
                                    dinlenme odaları 1826'da yeniçerilerin ayaklanması sırasında veziriazamın yönetim
                                    merkezi oldu. Hünkar Mahfili 10 adet mermer sütunla desteklenmiştir. Zümrüt, gül ve
                                    yaldızlarla süslenmiş ve yaldızlarla 100 adet Kuran işlenmiş kendi mihrabı vardır.
                                </p>

                            </div>
                            <div class="sultan-paragraf">
                                <br>
                                <p>
                                    Caminin içindeki birçok lamba zamanında altın ve diğer değerli taşlarla ve içinde
                                    devekuşu yumurtası ya da kristal toplar bulunabilecek cam kaselerle kaplıydı. Bu
                                    dekorların tümü ya kaldırıldı ya da yağmalandı.

                                    Duvarlardaki büyük tabletlerde halifelerin isimleri ve Kur'an'dan parçalar
                                    yazılıdır.
                                    Bunları orijinal haliyle 17. yüzyılın büyük hat sanatçısı Diyarbakırlı Kasım Gubari
                                    yapmıştır, fakat yakın zamanda restore edilmek için kaldırılmışlardır.

                                    Sultan Ahmet Camii tarihin en büyük kapsamlı restorasyonunu 2017 yılında Starwood
                                    Orman
                                    Ürünleri A.Ş üstlenmiştir.
                                </p>
                                <br>
                            </div>
                        </div>
                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">Minareler</h1>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <br>
                            <p>Sultan Ahmet Camii Türkiye'de 6 minaresi olan 5 camiden biridir. Diğer 4 tanesi
                                ise İstanbul Çamlıca Camii, İstanbul Arnavutköy'de Taşoluk Yeni Camii, Adana'daki
                                Sabancı Camii ve Mersin'deki Muğdat Camii'dir. Minarelerin sayısı ortaya çıkınca
                                sultan küstahlıkla suçlanmıştır çünkü o zamanlarda, Mekke'deki Kâbe'de de 6 minare
                                bulunmaktadır. Sultan bu problemi Mekkede olan (Mescidi Haram) camiye yedinci
                                minareyi yaptırarak çözer. 4 minare caminin köşelerindedir. Kalem şeklindeki bu
                                minarelerin her birinin 3 şerefesi vardır. Ön avludaki diğer iki minare ise ikişer
                                şerefelidir.</p>
                            <br>
                            <p>Yakın zamana kadar müezzin günde 5 kere dar sarmal merdivenleri çıkmak zorunda
                                kalıyordu, bugün ise toplu dağıtım sistemi uygulanıyor ve diğer camilerce de
                                yankılanan ezan şehrin eski bölümlerinde de duyuluyor. Türklerin ve turistlerin
                                oluşturduğu kalabalık gün batımı vaktinde, güneş batarken ve cami renkli
                                projektörlerle parlak bir şekilde aydınlatılmaya başlarken parkta toplanıp yüzünü
                                camiye vererek akşam ezanını dinliyorlar.</p>
                            <br>
                            <p>Cami inşa edildiği dönemlerde uzunca bir süre cuma günleri Topkapı Sarayı'ndakilerin
                                ibadetlerini gerçekleştirdiği mekân olmuştur.</p>
                        </div>

                        <div class="main-menu-header-div">
                            <h1 class="galeri-header">galeri</h1>
                        </div>
                        <div class="galeri">
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/sultan1.jpeg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/sultan1.jpeg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/sultan2.jpg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/sultan2.jpg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/sultan3.jpeg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/sultan3.jpeg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/sultan4.jpeg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/sultan4.jpeg" alt=""></a></div>
                        </div>


                    </div>
                    <div class="main-ekstra">
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/sultankonum.png"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/sultankonum.png" alt=""></a></div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Sultanahmet istanbul'da ki konumu konumu</p>
                        </div>
                        <hr>
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/sultanahmetdış.jpg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/sultanahmetdış.jpg" alt=""></a></div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Sultanahmet dış görünümü</p>
                        </div>
                        <hr>
                        <div class="main-ekstra-header">
                            <p>Genel bilgiler</p>
                        </div>
                        <table class="main-ekstra-tables">
                            <tr>
                                <td class="main-ekstra-tables-td-left">tür</td>
                                <td class="main-ekstra-tables-td-right">cami</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Mimari tür</td>
                                <td class="main-ekstra-tables-td-right">Osmanlı mimarisi</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Konum</td>
                                <td class="main-ekstra-tables-td-right">İstanbul, Türkiye</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Koordinatlar</td>
                                <td class="main-ekstra-tables-td-right">41°00'19"K 28°58'37"D</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">başlama</td>
                                <td class="main-ekstra-tables-td-right">1609 (413 yıl önce)</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Tamamlanma</td>
                                <td class="main-ekstra-tables-td-right">1617 (405 yıl önce)</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Yükseklik</td>
                                <td class="main-ekstra-tables-td-right">45 metre</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Minare sayısı</td>
                                <td class="main-ekstra-tables-td-right">6</td>
                            </tr>

                        </table>

                    </div>

                </div>


            </main>




            <section class="section-container">
                <p class="section-paragraf"><a href="#" class="section-links">Küba</a></p>
                <p class="section-paragraf"><a href="#" class="section-links">1234</a></p>
                <p class="section-paragraf"><a href="#" class="section-links">centralpark</a></p>
            </section>




            <!--footer-->
            <footer>
                <div class="footer-container">
                    <div class="social-icon">
                        <a title="Facebook" href="https://www.facebook.com/emin.aldas.37/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a title="Instagram" href="https://www.instagram.com/emin.alds/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a title="Twitter" href="https://twitter.com/AldsEmin" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a title="Youtube" href="https://www.youtube.com/channel/UCk1xreJb2dm-wes0-APkxKA"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                        <a title="Github" href="https://github.com/eminaldas" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a title="Discord" href="discordapp.com/users/Muhammed Emin Aldaş#3369"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-discord"></i></a>
                    </div>
                    <div class="footer-navbar">
                        <ul class="footer-navbar-ul">
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000" class="footer-navbar-a"
                                    title="Home">Home</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/aboutUs"
                                    class="footer-navbar-a">About us</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/others"
                                    class="footer-navbar-a">Others</a></li>
                        </ul>
                    </div>
                    <div class="fotter-text">
                        <p>Copyright &copy;2023; Designed By <span class="footer-desinger">Muhammed Emin Aldas</span>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/slider.js"></script>
</body>

</html>