<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aldasland | Şanlıurfa</title>
    <link rel="icon" type="image/x-icon" href="/resimler/Yeni klasör/avianex.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/3.urfa.css">
    <link rel="stylesheet" href="/css/navbar.css">

</head>

<body>
    <div id="progress">
        <span id="progress-value"><i class="fa-solid fa-chevron-up"></i></span>
    </div>
    <div class="body">
        <div class="container">
            <header class="nav">
                <div class="navbar">
                    <div class="navbar-logo"><a href="http://127.0.0.1:3000" class="logo-menu"><i
                                class="fa-brands fa-avianex fa-2xl" title="AldasLand"></i></a></div>
                    <div class="navbar-menu">
                        <ul class="navigation">
                            <li class="nav-text"><a href="http://127.0.0.1:3000" class="menu-item">Anasayfa</a></li>

                            <div class="dropdown">
                                <div class="select">
                                    <span class="selected">Ülkeler</span>
                                    <div class="caret"></div>
                                </div>
                                <ul class="drop">
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/avrupa"
                                            class="dropdown-text">Avrupa</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/asya"
                                            class="dropdown-text">Asya</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/afrika"
                                            class="dropdown-text">Afrika</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/amerika"
                                            class="dropdown-text">Amerika</a></li>

                                </ul>
                            </div>

                            <li class="nav-text"><a href="http://127.0.0.1:3000/continents"
                                    class="menu-item">Kıtalar</a></li>
                                    <li class="nav-text"><a href="http://127.0.0.1:3000/GeziTurSign"
                                        class="menu-item">Kayıt ol</a></li>

                        </ul>

                    </div>
                    <div class="navbar-login">
                        <a href="http://127.0.0.1:3000/GeziturLog" blank="_leave" class="login"><i
                                class="fa-solid fa-user-tie fa-2xl" title="Log-in"></i></a>

                    </div>
                </div>
                <img src="/adobe/header7.png" alt="">
            </header>
            <!--main kısmı-->


            <main class="main">



                <div class="main-container">

                    <div class="main-search">

                        <form action="https://www.google.com/search" method="get" class="search-form">
                            <div class="google-search">
                                <script async src="https://cse.google.com/cse.js?cx=51e502db8d6ef437e">
                                </script>
                                <div class="gcse-searchbox-only"></div>
                            </div>
                        </form>


                    </div>

                    <div class="main-menu">
                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">Şanlıurfa</h1>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Şanlıurfa, halk arasındaki kısa adıyla Urfa veya eski çağlarda bilinen adıyla Edessa,
                                Türkiye'nin bir ili ve en kalabalık sekizinci şehridir. 2020 yılı verilerine göre
                                nüfusu 2.115.256’dir. Şehrin doğuda Mardin, batıda Gaziantep, kuzeyde Adıyaman,
                                kuzeydoğuda Diyarbakır illeri ve güneyde Suriye ile sınırı vardır. Şanlıurfa'nın 13
                                ilçesi vardır. Ortalama yükseltisi 518 metre olan Şanlıurfa, 19.451 km2'lik yüzölçümü
                                ile Türkiye'nin en büyük yedinci ilidir.</p><br>

                            <p>Yazları son derece sıcak ve kurak bir iklime sahip olan şehir, kışı serin ve nemli
                                geçirir. 2 milyonu aşkın nüfusuyla Güneydoğu Anadolu Bölgesi'nin en kalabalık şehri olan
                                Şanlıurfa, aynı zamanda yaklaşık 20,4 ortanca yaş ile Türkiye'nin en dinamik nüfusa
                                sahip ilidir.</p><br>

                            <p>Şehrin yaklaşık 12 km kuzeydoğusunda, MÖ 10.000 yılına ait olduğu düşünülen ve dünyanın
                                bilinen en eski tapınağı olan Göbeklitepe bulunmaktadır. Göbeklitepe'nin keşfi ile
                                birlikte bu bölgenin, tarım devriminin gerçekleştiği ilk insan yerleşimleri ağının bir
                                parçası olduğu ve köklü bir tarihi geçmişinin bulunduğu ispatlanmış oldu.</p><br>

                            <p>Halk hikâyelerinde ve dini inançlarda İbrahim Peygamber ve Kral Nemrud hikâyelerine konu
                                olmuş olan, Peygamberler şehri ve kutsal şehir gibi tanımlamalarla anılmış olan şehrin
                                Nemrud tarafından kurulduğuna inanılmıştır. MÖ 1. binyıldan başlayarak Asurlular,
                                Medler, Ahamenişler (Persler), Makedonyalılar, Büyük İskender'in varislerinden biri olan
                                Selevkoslar, Osroene Krallığı ve ardından Roma ile Bizans İmparatorluklarının hakimiyeti
                                altında kalan bu şehir, Hristiyanlık tarihi açısından önemli bir yere sahip olup,
                                Süryani kültürünün merkezi konumundaydı. Urfa, 7. yüzyılda Müslüman Araplar tarafından
                                fethedildikten sonra bu özelliğini yavaş yavaş kaybetse de, ciddi bir Süryani ve Ermeni
                                nüfus, 20. yüzyılın başlarına kadar şehirde varlığını korumuştur. 1516'da Osmanlı
                                padişahı Yavuz Sultan Selim'in Memlûk Devleti'ni Mercidâbık Muharebesi'nde yenmesiyle
                                Osmanlı hakimiyeti altına giren şehir, 1919 yılında önce İngilizler ve ardından
                                Fransızlar tarafından işgal edilene kadar kesintisiz 400 sene Osmanlı idaresinde kaldı.
                                Şehir, 11 Nisan 1920'de işgalden kurtarıldı ve 20 Ekim 1921'de TBMM ve Fransız Hükûmeti
                                arasında imzalanan Ankara Antlaşması ile Türkiye'ye bırakıldı.</p><br>

                            <p>Cumhuriyetin ilanından sonra, 1924 yılında il haline getirildi. Urfa ilinin adı, 22
                                Haziran 1984 tarih ve 18439 sayılı Resmi Gazete’de yayımlanan 3020 sayılı kanunla
                                Şanlıurfa olarak değiştirilmiştir.[6][7][8] 2016 yılında, Şanlıurfa halkının Türk
                                Kurtuluş Savaşı'nda gösterdiği kahramanlıktan dolayı TBMM tarafından şehre İstiklal
                                Madalyası verilmiştir.
                            </p><br>
                            <p>Türkiye İstatistik Kurumu’nun (TÜİK) açıkladığı 2011 yılına ilişkin "Adrese Dayalı Nüfus
                                Kayıt Sistemi Sonuçları" dikkate alınarak Şanlıurfa, 12 Kasım 2012 tarihli ve 6360
                                sayılı kanun ile büyükşehir oldu.</p><br>
                        </div>
                        <div class="main-menu-header-div">
                            <h2 class="main-menu-header-content">MUTFAK</h2>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Urfa mutfağında; Süryani, Ermeni, Yahudi, Yezidi, Arap, Kürt, Türk, vb. her milletten ve
                                her kültürden izler görülmektedir. Sadeyağ, acı isot, bulgur, frenk suyu (domates
                                salçası) Urfa mutfağının en çok kullanılan malzemeleridir. Baharat, un ve pirinç ikinci
                                planda, sebze ise üçüncü planda kullanılır. Şanlıurfa'ya özgü yetiştirilen aynı zamanda
                                Şanlıurfa ili ile özdeşleşmiş isot sıkça kullanılır. Sebze yemek çeşitlerinin de sayıca
                                çok olmasına rağmen Urfa mutfağında et ağırlıklı yemekler ile kebap çeşitleri daha çok
                                yer alır. Urfa'da kebapçılarda ve çeşitli restoranlarda ikram olarak sunulan bostana
                                domates, biber, soğan, maydanoz, salatalık, semizotu, nar suyu ve nane yaprağının
                                incecik doğranması ile yapılır ve oldukça popülerdir. Gerçekten et ile hazırlanan Urfa
                                çiğ köftesi, et, bulgur, yağ, isot, çeşitli baharatlar ve yeşilliklerin uzun süre
                                yoğrulmasıyla hazırlanır. Kebapları meşhur şehrin en gözde ve leziz kebabı ciğer kebabı
                                ve patlıcan kebabıdır. İki katman kadayıf arasına Urfa peyniri gibi çiğ süte daha yakın,
                                taze peynir konularak hafifçe pişirilip ve üzerine çok koyulaşmamış şeker şurubu
                                katılırak hazırlanan künefe en çok tercih edilen tatlıların başında gelir. Akıtma
                                arasına ceviz sarılarak şerbetlendirilip ikram edilen şıllık tatlısı da Şanlıurfa
                                yöresine özgü bir tatlıdır.</p><br>




                        </div>
                        
                        
                        
                        
                        <div class="main-menu-header-div">
                            <h2 class="main-menu-header-content">TURİZM</h2>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Şanlıurfa bugün de mimari dokusunun zenginliği ile "Müze Şehir" adıyla da tanınmaktadır.
                                İl merkezinde Kültür Bakanlığı'nca tescil edilmiş 180 tarihi ev, 32 cami ve mescit, 5
                                kilise, 7 medrese, 9 han, 8 hamam, 8 kapalı çarşı, 6 köprü, 13 çeşme, 2 sebil, 1 su
                                kemeri, 1 su bendi, 2 anıt, şehir surları ve 1 iç kale bulunmaktadır. İldeki tescilli
                                eserlerin toplam sayısı 1100 civarındadır. Şanlıurfa İli'nde, Şanlıurfa Arkeoloji Müzesi
                                ve Devlet Güzel Sanatlar Galerisi olmak üzere tarihi ve kültürel buluntuların
                                sergilendiği iki adet de müze bulunmaktadır. 1988'de hizmete giren Şanlıurfa Müzesi
                                arkeolojik ve etnografik eserler seksiyonlarından oluşmaktadır. Halen müzede 14.193
                                arkeolojik eser, 1.878 etnografik eser, 35.613 sikke ve diğer eserler olmak üzere toplam
                                53.271 eser sergilenmektedir ve bu Şanlıurfa'yı bölgenin en zengin taşınır kültür
                                varlığına sahip şehir yapmaktadır. Şanlıurfa'da 6’sı turistik belgeli, 7’si Belediye
                                Belgeli olmak üzere 13 konaklama tesisi bulunmaktadır. Turistik Belgeli işletmelerin
                                yatak kapasitesi 564 olup, Belediye Belgeli işletmelerin yatak kapasitesi 416’dır.
                                Toplam yatak sayısı 480’dir.</p>
                            <br>
                            <p>Urfa şehri M.Ö 2. binde yaşadığına inanılan, Yahudilik, Hristiyanlık ve İslam dinlerinin
                                ortak din büyüğü ve atası olan İbrahim peygamberin doğum yeri olarak kabul
                                edilir. Bu gün Urfa'da ziyarete açık olan doğduğu mağaranın efsanesine göre İbrahim
                                peygamber 17 yaşına kadar bu mağarada yaşamıştır. İbrahim peygamber'in dışında İbrahim
                                peygamberin torunu ve İsrailoğullarının atası Yakup peygamberin bir dönem Harran’da
                                bulunduğuna, Eyüp peygamberin Urfa’da hastalık çektiğine ve burada vefat ettiğine,
                                Elyasa peygamberin Eyüp peygamberi görmeye geldiğine, ancak göremeden Urfa'da öldüğüne,
                                Şuayb peygamberin Harran’a 37 km mesafede yaşadığına, Musa peygamberin Soğmatar’da Şuayp
                                peygamberle buluştuğuna inanılmaktadır. Ayrıca bazı kaynaklara göre; İsa peygamber,
                                Urfa'yı kutsadığına dair mektubunu ve yüzünü sildiği mendile çıkan mucizevî portresini
                                (Hagion Mandilion) Urfa kralı Abgar Ukkama’ya göndermiştir.</p>
                            <br>
                            

                        </div>
                        <div class="main-menu-header-div">
                            <h2 class="main-menu-header-content">ULAŞIM</h2>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Kentte şehiriçi ulaşım otobüslerle sağlanmaktadır. İlde sadece bir havalimanı vardır. Bu
                                da Şanlıurfa GAP Havalimanı'dır. Ayrıca şehirde ulaşım olarak taksiler de
                                kullanılmaktadır.</p>
                        </div>
                        <div class="main-menu-slider-container">
                            <div class="slider">
                                <div class="slides">

                                    <input type="radio" name="radio-btn" id="radio1">
                                    <input type="radio" name="radio-btn" id="radio2">
                                    <input type="radio" name="radio-btn" id="radio4">
                                    <input type="radio" name="radio-btn" id="radio3">


                                    <div class="slide first">
                                        <div class="slide-content">
                                            <h1>Balıklıgöl</h1>
                                        </div>
                                        <a href="http://127.0.0.1:3000/continents/avrupa/urfa/balikligol"> <img
                                                src="/resimler/avrupa/türkiye/şanlıurfa/Balikli_Göl_03.jpg"
                                                alt=""></a>
                                    </div>
                                    <div class="slide">
                                        <div class="slide-content">
                                            <h1>Göbeklitepe</h1>
                                        </div>
                                        <a href="http://127.0.0.1:3000/continents/avrupa/urfa/gobeklitepe"><img
                                                src="/resimler/avrupa/türkiye/şanlıurfa/Vulture_Stone,_Gobekli_Tepe,_Sanliurfa,_South-east_Anatolia,_Turkey.jpg" alt=""></a>
                                    </div>
                                    <div class="slide">
                                        <div class="slide-content">
                                            <h1>Urfa Kalesi</h1>
                                        </div>
                                        <a href="http://127.0.0.1:3000/continents/avrupa/urfa/urfakale"><img
                                                src="/resimler/avrupa/türkiye/şanlıurfa/Urfa_Castle_02.jpg"
                                                alt=""></a>
                                    </div>
                                    <div class="slide">
                                        <div class="slide-content">
                                            <h1>Harran Evleri</h1>
                                        </div>
                                        <div class="slide-content-img">
                                            <a href="http://127.0.0.1:3000/continents/avrupa/urfa/harranev"><img
                                                    src="/resimler/avrupa/türkiye/şanlıurfa/Harran_beehive_houses_(2).jpeg"
                                                    alt=""></a>
                                        </div>

                                    </div>


                                    <div class="navigation-auto">
                                        <div class="auto-btn1"></div>
                                        <div class="auto-btn2"></div>
                                        <div class="auto-btn3"></div>
                                        <div class="auto-btn4"></div>
                                    </div>

                                </div>
                                <div class="navigation-manual">
                                    <label for="radio1" class="manual-btn"></label>
                                    <label for="radio2" class="manual-btn"></label>
                                    <label for="radio3" class="manual-btn"></label>
                                    <label for="radio4" class="manual-btn"></label>
                                </div>
                            </div>

                        </div>




                    </div>
                    <div class="main-ekstra">
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img">
                                <img src="/resimler/avrupa/türkiye/şanlıurfa/location_Şanlıurfa.svg" alt="">
                            </div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>Şanlıurfa'nın Türkiyedeki konumu</p>
                        </div>
                        <hr>
                        
                        
                        <hr>
                        <div class="menu-card-ekstra-template">
                            <h3 style="text-align: center;">Şanlıurfa ilçeleri</h3>
                            <ul class="menu-ekstra-list">
                                <a href="#">
                                    <li>Viranşehir</li>
                                </a><a href="#">
                                    <li>Siverek</li>
                                </a><a href="#">
                                    <li>Harran</li>
                                </a><a href="#">
                                    <li>Hilvan</li>
                                </a><a href="#">
                                    <li>Ceylanpınar</li>
                                </a><a href="#">
                                    <li>Suruç</li>
                                </a><a href="#">
                                    <li>Halfeti</li>
                                </a><a href="#">
                                    <li>Birecik</li>
                                </a><a href="#">
                                    <li>Akçakale</li>
                                </a><a href="#">
                                    <li>Bozova</li>
                                </a>
                            </ul>
                        </div>
                        <hr>
                        <div>
                            <table class="main-ekstra-tables">
                              
                                
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Vali</td>
                                    <td class="main-ekstra-tables-td-right"><a
                                            href="https://tr.wikipedia.org/wiki/Ali_Yerlikaya" target="_blank">Salih Ayhan</a></td>
                                </tr>
                                <tr>
                                    <td class="main-ekstra-tables-td-left">Belediye Başkanı</td>
                                    <td class="main-ekstra-tables-td-right"><a
                                            href="https://tr.wikipedia.org/wiki/Ekrem_%C4%B0mamo%C4%9Flu"
                                            target="_blank">Zeynel Abidin Beyazgül</a></td>
                                </tr>
                            </table>

                        </div>
                        <hr>

                    </div>

                </div>


            </main>




            <section class="section-container">
                <p class="section-paragraf"><a href="#" class="section-links">Küba</a></p>
                <p class="section-paragraf"><a href="#" class="section-links"></a></p>
                <p class="section-paragraf"><a href="#" class="section-links">centralpark</a></p>
            </section>




            <!--footer-->
            <footer>
                <div class="footer-container">
                    <div class="social-icon">
                        <a title="Facebook" href="https://www.facebook.com/emin.aldas.37/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a title="Instagram" href="https://www.instagram.com/emin.alds/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a title="Twitter" href="https://twitter.com/AldsEmin" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a title="Youtube" href="https://www.youtube.com/channel/UCk1xreJb2dm-wes0-APkxKA"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                        <a title="Github" href="https://github.com/eminaldas" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a title="Discord" href="discordapp.com/users/Muhammed Emin Aldaş#3369"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-discord"></i></a>
                    </div>
                    <div class="footer-navbar">
                        <ul class="footer-navbar-ul">
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000" class="footer-navbar-a"
                                    title="Home">Home</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/aboutUs"
                                    class="footer-navbar-a">About us</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/others"
                                    class="footer-navbar-a">Others</a></li>
                        </ul>
                    </div>
                    <div class="fotter-text">
                        <p>Copyright &copy;2023; Designed By <span class="footer-desinger">Muhammed Emin Aldas</span>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/slider.js"></script>
</body>

</html>