<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aldasland | Yerebatan</title>
    <link rel="icon" type="image/x-icon" href="/resimler/Yeni klasör/avianex.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/3.1.yerebatan.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>

<body>
    <div id="progress">
        <span id="progress-value"><i class="fa-solid fa-chevron-up"></i></span>
    </div>
    <div class="body">
        <div class="container">
            <header class="nav">
                <div class="navbar">
                    <div class="navbar-logo"><a href="http://127.0.0.1:3000" class="logo-menu"><i
                                class="fa-brands fa-avianex fa-2xl" title="AldasLand"></i></a></div>
                    <div class="navbar-menu">
                        <ul class="navigation">
                            <li class="nav-text"><a href="http://127.0.0.1:3000" class="menu-item">Anasayfa</a></li>

                            <div class="dropdown">
                                <div class="select">
                                    <span class="selected">Ülkeler</span>
                                    <div class="caret"></div>
                                </div>
                                <ul class="drop">
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/avrupa"
                                            class="dropdown-text">Avrupa</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/asya"
                                            class="dropdown-text">Asya</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/afrika"
                                            class="dropdown-text">Afrika</a></li>
                                    <li class="drop-li"><a href="http://127.0.0.1:3000/continents/amerika"
                                            class="dropdown-text">Amerika</a></li>

                                </ul>
                            </div>

                            <li class="nav-text"><a href="http://127.0.0.1:3000/continents"
                                    class="menu-item">Kıtalar</a></li>
                                    <li class="nav-text"><a href="http://127.0.0.1:3000/GeziTurSign"
                                        class="menu-item">Kayıt ol</a></li>      

                        </ul>

                    </div>
                    <div class="navbar-login">
                        <a href="http://127.0.0.1:3000/GeziturLog" blank="_leave" class="login"><i
                                class="fa-solid fa-user-tie fa-2xl" title="Log-in"></i></a>

                    </div>
                </div>
                <img src="/adobe/header2.png" alt="">
            </header>
            <!--main kısmı-->


            <main class="main">



                <div class="main-container">

                    <div class="main-search">

                        <form action="https://www.google.com/search" method="get" class="search-form">
                            <div class="google-search">
                                <script async src="https://cse.google.com/cse.js?cx=51e502db8d6ef437e">
                                </script>
                                <div class="gcse-searchbox-only"></div>
                            </div>
                        </form>


                    </div>

                    <div class="main-menu">
                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">İstanbul - Yerebatan Sarnacı</h1>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Yerebatan Sarnıcı İstanbul'da şehrin su ihtiyacını karşılamak üzere 526-527 senelerinde
                                yaptırılmış kapalı su sarnıcı.</p>
                            <br>
                            <p>Ayasofya'nın güneybatısında, Soğukçeşme Sokağı'ndadır. Suyun içinden yükselen pek çok
                                mermer sütun nedeniyle halk arasında Yerebatan Sarayı olarak isimlendirilmektedir.
                                Sarnıcın üzerinde daha önce bir bazilika bulunmasından ötürü, Bazilika Sarnıcı olarak da
                                adlandırılır.</p>
                            <br>
                            <p>Bizans imparatoru I. Justinianus tarafından yaptırılan sarnıç, şehrin birinci ve ikinci
                                tepeleri arasındaki bölgelerin su ihtiyacını karşılayan Hadrianus su yollarına
                                bağlanmıştı. İstanbul'un Osmanlılar tarafından fethinden sonra Sarayburnu ve Bahçe
                                Kapısı civarına su dağıtım merkezi olarak hizmet sundu; Osmanlılar'ın şehirde kendi su
                                tesislerini kurmasından sonra kullanılmasa da merkezinde olduğu mahalleyi temsil eden
                                fiziksel bir simge durumuna geldi; ismi saraya, sadrazamın ahırlarına, caddeye ve
                                mahalleye verildi.</p>
                            <br>
                            <p>Günümüzde müze ve etkinlik mekanı olarak kullanılır. İstanbul Büyükşehir Belediyesi
                                iştiraklerinden Kültür A.Ş. tarafından işletilmektedir.</p>
                        </div>
                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">Konumu</h1>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Ayasofya'nın güneybatısında, Bizans İmparatorluğu'nda dünyanın sıfır noktası olarak kabul
                                edilmiş Milyon Taşı'nın yanındadır. Binbirdirek Sarnıcı, Şerefiye Sarnıcı, Akhilleus ve
                                Zeuksipposs hamamları ile aynı bölgede konumlanmaktadır.</p>
                        </div>
                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">Mimari özellikleri</h1>
                        </div>
                        <div class="main-menu-card-paragraf-div medusa-div">
                            <div class="medusa-img"><img src="/resimler/avrupa/türkiye/İstanbul/MedusaHeadIstanbul.jpg"
                                    alt=""></div>
                            <div class="medusa-paragraf">
                                <p>Ayasofya'nın güneybatısında, Bizans İmparatorluğu'nda dünyanın sıfır noktası olarak
                                    kabul edilmiş Milyon Taşı'nın yanındadır. Binbirdirek Sarnıcı, Şerefiye Sarnıcı,
                                    Akhilleus ve Zeuksipposs hamamları ile aynı bölgede konumlanmaktadır.</p>
                                <br>
                                <p>Sarnıcın, geçmişte üzerinde bulunduğu düşünüleni Basilika Stoa adlı anıtsal yapının
                                    ve bölgenin su ihtiyacını karşılamak için yapıldığı tahmin edilir. Yaklaşık 100.000
                                    ton su depolama kapasitesine sahiptir.</p>
                                <br>
                                <p>Üzerindeki tuğla örgülü tonozu taşıyan 336 sütun vardır. Doğu- batı yönünde 28,
                                    güney-kuzey yönünde 12 sütun sırası bulunur. Kuzeybatı tarafındaki II. Abdülhamit
                                    döneminde kapatılan alan içerisinde kalan 41 sütun bugün görülmez.</p>
                                <br>
                                <p>Yapıda bezemeli sütun, Korint sütun başlıkları ve ters yüz edilmiş Medusalı başlıklar
                                    gibi devşirme malzemeler kullanılmıştır. 98 adet sütun ise Yerebatan Sarnıcı için
                                    özel yapılmıştır.Yapıya, güneydoğu tarafındaki taş merdivenlerle inilir.</p>
                            </div>
                        </div>
                        <div class="main-menu-header-div">
                            <h1 class="main-menu-header-content">Popüler kültürdeki yeri</h1>
                        </div>
                        <div class="main-menu-card-paragraf-div">
                            <p>Sarnıç Dan Brown'un 2013'te yayınlanan Cehennem adlı gerilim ve gizem romanına konu
                                olmuştur. Roman, 2016 yılında filme uyarlandı. Tom Hanks'in başrolde oynadığı filmde
                                Yerebatan Sarnıcı bölümleri için Budapeşte'deki film platosunda sarnıcın birebir kopyası
                                yapılmış ve sarnıcın tarihi dokusuna zarar vermemek için çekimler orada yapılmıştır.</p>
                        </div>
                        <div class="main-menu-header-div">
                            <h1 class="galeri-header">galeri</h1>
                        </div>
                        <div class="galeri">
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/medusa.jpg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/medusa.jpg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/medusa1.jpg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/medusa1.jpg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/medusa2.jpg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/medusa2.jpg" alt=""></a></div>
                            <div class="galeri-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/medusa3.jpg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/medusa3.jpg" alt=""></a></div>
                        </div>


                    </div>
                    <div class="main-ekstra">
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/yerebatankonum.png"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/yerebatankonum.png" alt=""></a></div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>yerebatan istanbul'da ki konumu konumu</p>
                        </div>
                        <hr>
                        <div class="menu-card-ekstra-template">
                            <div class="menu-card-ekstra-template-img"><a data-fancybox="gallery"
                                    href="/resimler/avrupa/türkiye/İstanbul/Basilica.jpg"><img
                                        src="/resimler/avrupa/türkiye/İstanbul/Basilica.jpg" alt=""></a></div>
                        </div>
                        <div class="main-ekstra-header">
                            <p>yerebatan iç görünümü</p>
                        </div>
                        <hr>
                        <div class="main-ekstra-header">
                            <p>Genel bilgiler</p>
                        </div>
                        <table class="main-ekstra-tables">
                            <tr>
                                <td class="main-ekstra-tables-td-left">tür</td>
                                <td class="main-ekstra-tables-td-right">sarnıç</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Mimari tarz</td>
                                <td class="main-ekstra-tables-td-right">Doğu Roma</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Konum</td>
                                <td class="main-ekstra-tables-td-right">İstanbul, Türkiye</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Koordinatlar</td>
                                <td class="main-ekstra-tables-td-right">41°00'30"K 28°58'41"D</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">başlama</td>
                                <td class="main-ekstra-tables-td-right">6. yüzyıl</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Yükseklik</td>
                                <td class="main-ekstra-tables-td-right">9 m</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Genişlik</td>
                                <td class="main-ekstra-tables-td-right">70 m</td>
                            </tr>
                            <tr>
                                <td class="main-ekstra-tables-td-left">Zemin Alanı</td>
                                <td class="main-ekstra-tables-td-right">9.800 m2</td>
                            </tr>
                        </table>

                    </div>

                </div>


            </main>




            <section class="section-container">
                <p class="section-paragraf"><a href="#" class="section-links">Küba</a></p>
                <p class="section-paragraf"><a href="#" class="section-links">1234</a></p>
                <p class="section-paragraf"><a href="#" class="section-links">centralpark</a></p>
            </section>




            <!--footer-->
            <footer>
                <div class="footer-container">
                    <div class="social-icon">
                        <a title="Facebook" href="https://www.facebook.com/emin.aldas.37/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a title="Instagram" href="https://www.instagram.com/emin.alds/" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a title="Twitter" href="https://twitter.com/AldsEmin" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a title="Youtube" href="https://www.youtube.com/channel/UCk1xreJb2dm-wes0-APkxKA"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                        <a title="Github" href="https://github.com/eminaldas" class="footer-social-link"
                            target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a title="Discord" href="discordapp.com/users/Muhammed Emin Aldaş#3369"
                            class="footer-social-link" target="_blank"><i class="fa-brands fa-discord"></i></a>
                    </div>
                    <div class="footer-navbar">
                        <ul class="footer-navbar-ul">
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000" class="footer-navbar-a"
                                    title="Home">Home</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/aboutUs"
                                    class="footer-navbar-a">About us</a></li>
                            <li class="footer-navbar-li"><a href="http://127.0.0.1:3000/others"
                                    class="footer-navbar-a">Others</a></li>
                        </ul>
                    </div>
                    <div class="fotter-text">
                        <p>Copyright &copy;2023; Designed By <span class="footer-desinger">Muhammed Emin Aldas</span>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/slider.js"></script>
</body>

</html>